Node-RED/flows/count-processing/countTemplate-node-red.json
[
  {
    "id":"a95807dd8cd2d61d",
    "type":"tab",
    "label":"Flow 1",
    "disabled":false,
    "info":""
  },
  {
    "id":"5c86e3d032ca18d4",
    "type":"kafkajs-consumer",
    "z":"a95807dd8cd2d61d",
    "name":"",
    "client":"12d57fe5cace5a38",
    "groupid":"",
    "topic":"ia.raw.development.ioTSensors.Temperature",
    "advancedoptions":false,
    "autocommitinterval":5000,
    "autocommitthreshold":100,
    "sessiontimeout":30000,
    "rebalancetimeout":60000,
    "heartbeatinterval":3000,
    "metadatamaxage":300000,
    "maxbytesperpartition":1048576,
    "minbytes":1,
    "maxbytes":10485760,
    "maxwaittimeinms":5000,
    "frombeginning":false,
    "clearoffsets":false,
    "allowautotopiccreation":false,
    "x":750,
    "y":2100,
    "wires":[
      [

      ]
    ]
  },
  {
    "id":"5ba26019a851177a",
    "type":"kafkajs-producer",
    "z":"a95807dd8cd2d61d",
    "name":"",
    "client":"12d57fe5cace5a38",
    "topic":"ia.test.testLocation.testMachine.count",
    "advancedoptions":false,
    "acknowledge":"all",
    "partition":"",
    "headeritems":{

    },
    "key":"",
    "responsetimeout":30000,
    "transactiontimeout":60000,
    "metadatamaxage":300000,
    "allowautotopiccreation":false,
    "x":670,
    "y":2380,
    "wires":[

    ]
  },
  {
    "id":"e5138744edff39d8",
    "type":"inject",
    "z":"a95807dd8cd2d61d",
    "name":"Inject",
    "props":[
      {
        "p":"timestamp",
        "v":"",
        "vt":"date"
      },
      {
        "p":"payload"
      },
      {
        "p":"topic",
        "vt":"str"
      }
    ],
    "repeat":"",
    "crontab":"",
    "once":false,
    "onceDelay":0.1,
    "topic":"ia.test.testLocation.testMachine.count",
    "payload":"2",
    "payloadType":"str",
    "x":350,
    "y":2380,
    "wires":[
      [
        "5ba26019a851177a"
      ]
    ]
  },
  {
    "id":"0d7b1c85c0924fa8",
    "type":"debug",
    "z":"a95807dd8cd2d61d",
    "name":"",
    "active":true,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":1110,
    "y":2380,
    "wires":[

    ]
  },
  {
    "id":"c3bd796154d97872",
    "type":"kafkajs-consumer",
    "z":"a95807dd8cd2d61d",
    "name":"",
    "client":"12d57fe5cace5a38",
    "groupid":"",
    "topic":"ia.test.testLocation.testMachine.count",
    "advancedoptions":false,
    "autocommitinterval":5000,
    "autocommitthreshold":100,
    "sessiontimeout":30000,
    "rebalancetimeout":60000,
    "heartbeatinterval":3000,
    "metadatamaxage":300000,
    "maxbytesperpartition":1048576,
    "minbytes":1,
    "maxbytes":10485760,
    "maxwaittimeinms":5000,
    "frombeginning":false,
    "clearoffsets":false,
    "allowautotopiccreation":false,
    "x":900,
    "y":2380,
    "wires":[
      [
        "0d7b1c85c0924fa8"
      ]
    ]
  },
  {
    "id":"526924a4e7b18971",
    "type":"mqtt in",
    "z":"a95807dd8cd2d61d",
    "name":"",
    "topic":"",
    "qos":"2",
    "datatype":"auto",
    "broker":"a09f8b607382b939",
    "nl":false,
    "rap":true,
    "rh":0,
    "x":450,
    "y":560,
    "wires":[
      [
        "86d668212e0c8e17"
      ]
    ]
  },
  {
    "id":"6613ae8674ee9541",
    "type":"mqtt out",
    "z":"a95807dd8cd2d61d",
    "name":"",
    "topic":"",
    "qos":"",
    "retain":"",
    "respTopic":"",
    "contentType":"",
    "userProps":"",
    "correl":"",
    "expiry":"",
    "broker":"a09f8b607382b939",
    "x":1360,
    "y":560,
    "wires":[

    ]
  },
  {
    "id":"86d668212e0c8e17",
    "type":"json",
    "z":"a95807dd8cd2d61d",
    "name":"",
    "property":"payload",
    "action":"",
    "pretty":false,
    "x":620,
    "y":560,
    "wires":[
      [
        "7086db3bc664bab9"
      ]
    ]
  },
  {
    "id":"7086db3bc664bab9",
    "type":"function",
    "z":"a95807dd8cd2d61d",
    "name":"difference calc",
    "func":"curr=msg.payload.Laenge_ges_mm\nprev=context.get(\"prev\")||0;\n\nmsg.payload.difference=curr-prev\ncontext.set(\"prev\",curr);\nconsole.log(prev)\nconsole.log(curr)\n\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":810,
    "y":560,
    "wires":[
      [
        "d0ab27258a42fb15"
      ]
    ]
  },
  {
    "id":"d0ab27258a42fb15",
    "type":"function",
    "z":"a95807dd8cd2d61d",
    "name":"TO JSON",
    "func":"msg.payload = {\n\"timestamp_ms\": Date.now(),\n\"count\": Math.round(msg.payload.difference)\n}\n\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":1010,
    "y":560,
    "wires":[
      [
        "0a7638685b44ea89"
      ]
    ]
  },
  {
    "id":"0a7638685b44ea89",
    "type":"switch",
    "z":"a95807dd8cd2d61d",
    "name":"",
    "property":"payload.count",
    "propertyType":"msg",
    "rules":[
      {
        "t":"gt",
        "v":"0",
        "vt":"num"
      }
    ],
    "checkall":"true",
    "repair":false,
    "outputs":1,
    "x":1200,
    "y":560,
    "wires":[
      [
        "6613ae8674ee9541"
      ]
    ]
  },
  {
    "id":"12d57fe5cace5a38",
    "type":"kafkajs-client",
    "name":"",
    "brokers":" 10.42.0.108:9092",
    "clientid":" united-manufacturing-hub-kafka-0",
    "connectiontimeout":"3000",
    "requesttimeout":"25000",
    "advancedretry":false,
    "maxretrytime":"30000",
    "initialretrytime":"300",
    "factor":"0.2",
    "multiplier":"2",
    "retries":"5",
    "auth":"none",
    "tlsselfsign":false,
    "tlscacert":"",
    "tlsclientcert":"",
    "tlsprivatekey":"",
    "tlspassphrase":"",
    "saslssl":true,
    "saslmechanism":"plain",
    "loglevel":"error"
  },
  {
    "id":"a09f8b607382b939",
    "type":"mqtt-broker",
    "name":"",
    "broker":"united-manufacturing-hub-hivemqce-local-service",
    "port":"1883",
    "clientid":"",
    "usetls":false,
    "protocolVersion":"4",
    "keepalive":"60",
    "cleansession":true,
    "birthTopic":"",
    "birthQos":"0",
    "birthPayload":"",
    "birthMsg":{

    },
    "closeTopic":"",
    "closeQos":"0",
    "closePayload":"",
    "closeMsg":{

    },
    "willTopic":"",
    "willQos":"0",
    "willPayload":"",
    "willMsg":{

    },
    "sessionExpiry":""
  }
]