Node-RED/flows/mqttbuttonbarTemplate-node-red.json
[
  {
    "id":"6e899fd485dcb4f4",
    "type":"tab",
    "label":"Flow 1",
    "disabled":false,
    "info":""
  },
  {
    "id":"efbfe3dd656164ad",
    "type":"mqtt in",
    "z":"6e899fd485dcb4f4",
    "name":"X01 - Button Bar",
    "topic":"ia/raw/dccachen-2-12/000194210013/X01",
    "qos":"2",
    "datatype":"auto",
    "broker":"a09f8b607382b939",
    "nl":false,
    "rap":true,
    "rh":0,
    "x":260,
    "y":600,
    "wires":[
      [
        "e060ca1d9dbd565a"
      ]
    ]
  },
  {
    "id":"072279de2d0a4d3e",
    "type":"comment",
    "z":"6e899fd485dcb4f4",
    "name":"X01 is the button bar. We use this for stop reasons. (Same logic as at weaving machine)",
    "info":"",
    "x":440,
    "y":300,
    "wires":[

    ]
  },
  {
    "id":"678bb546dba11838",
    "type":"comment",
    "z":"6e899fd485dcb4f4",
    "name":"What means what inside the buttons?",
    "info":"Button Bar \n\nInput 3 => \"...\"\n\nInput 2 => \"Something gets transported\"\n\nInput 1 => \"Maintenance action\"\n\nInput 0 => \"Coffee Break\"",
    "x":610,
    "y":880,
    "wires":[

    ]
  },
  {
    "id":"e060ca1d9dbd565a",
    "type":"json",
    "z":"6e899fd485dcb4f4",
    "name":"",
    "property":"payload",
    "action":"",
    "pretty":false,
    "x":450,
    "y":600,
    "wires":[
      [
        "687eee96371f0720",
        "fc17ff0a2281762f",
        "fd201336e1781cd8",
        "43e71f3ca2e30856"
      ]
    ]
  },
  {
    "id":"687eee96371f0720",
    "type":"function",
    "z":"6e899fd485dcb4f4",
    "name":"button 0 pressed",
    "func":"var curr ;\ncurr = parseInt(msg.payload[\"Input 0\"]);\n\n\nmsg.payload={\n    \"timestamp_ms\": Date.now(),\n    \"value\": curr\n}\nreturn msg; ",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":670,
    "y":360,
    "wires":[
      [
        "71b6d1251dd4a760",
        "a1ab9155be964a6f"
      ]
    ]
  },
  {
    "id":"fc17ff0a2281762f",
    "type":"function",
    "z":"6e899fd485dcb4f4",
    "name":"button 1 pressed",
    "func":"var curr ;\ncurr = parseInt(msg.payload[\"Input 1\"]);\n\n\nmsg.payload={\n    \"timestamp_ms\": Date.now(),\n    \"value\": curr\n}\nreturn msg; ",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":670,
    "y":520,
    "wires":[
      [
        "0ca14e91fe0c3b28",
        "2323fc07877ef9ba"
      ]
    ]
  },
  {
    "id":"fd201336e1781cd8",
    "type":"function",
    "z":"6e899fd485dcb4f4",
    "name":"button 2 pressed",
    "func":"var curr ;\ncurr = parseInt(msg.payload[\"Input 2\"]);\n\n\nmsg.payload={\n    \"timestamp_ms\": Date.now(),\n    \"value\": curr\n}\nreturn msg; ",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":670,
    "y":680,
    "wires":[
      [
        "8bd2ff7f35821de2",
        "5835db1e75f7bdbe"
      ]
    ]
  },
  {
    "id":"43e71f3ca2e30856",
    "type":"function",
    "z":"6e899fd485dcb4f4",
    "name":"button 3 pressed",
    "func":"var curr ;\ncurr = parseInt(msg.payload[\"Input 3\"]);\n\n\nmsg.payload={\n    \"timestamp_ms\": Date.now(),\n    \"value\": curr\n}\nreturn msg; ",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":670,
    "y":840,
    "wires":[
      [
        "ad075f58d4028277",
        "46648479d5a96572"
      ]
    ]
  },
  {
    "id":"71b6d1251dd4a760",
    "type":"delay",
    "z":"6e899fd485dcb4f4",
    "name":"",
    "pauseType":"rate",
    "timeout":"10",
    "timeoutUnits":"seconds",
    "rate":"1",
    "nbRateUnits":"5",
    "rateUnits":"second",
    "randomFirst":"1",
    "randomLast":"5",
    "randomUnits":"seconds",
    "drop":true,
    "allowrate":false,
    "x":920,
    "y":400,
    "wires":[
      [
        "d28e43e1c1b0baf5"
      ]
    ]
  },
  {
    "id":"3aa8ddabc4d12549",
    "type":"mqtt out",
    "z":"6e899fd485dcb4f4",
    "name":"",
    "topic":"ia/raw/dccaachen/thermosetting/X01/coffee_break_button",
    "qos":"",
    "retain":"",
    "respTopic":"",
    "contentType":"",
    "userProps":"",
    "correl":"",
    "expiry":"",
    "broker":"a09f8b607382b939",
    "x":1590,
    "y":840,
    "wires":[

    ]
  },
  {
    "id":"25923ceee40f71e4",
    "type":"mqtt out",
    "z":"6e899fd485dcb4f4",
    "name":"",
    "topic":"ia/raw/dccaachen/thermosetting/X01/maintenance_button",
    "qos":"",
    "retain":"",
    "respTopic":"",
    "contentType":"",
    "userProps":"",
    "correl":"",
    "expiry":"",
    "broker":"a09f8b607382b939",
    "x":1590,
    "y":680,
    "wires":[

    ]
  },
  {
    "id":"e1cc3c3df9acfa0c",
    "type":"mqtt out",
    "z":"6e899fd485dcb4f4",
    "name":"",
    "topic":"ia/raw/dccaachen/thermosetting/X01/material_transport_button",
    "qos":"",
    "retain":"",
    "respTopic":"",
    "contentType":"",
    "userProps":"",
    "correl":"",
    "expiry":"",
    "broker":"a09f8b607382b939",
    "x":1610,
    "y":520,
    "wires":[

    ]
  },
  {
    "id":"913d5fd88b91cfba",
    "type":"mqtt out",
    "z":"6e899fd485dcb4f4",
    "name":"",
    "topic":"ia/raw/dccaachen/thermosetting/X01/extra_button",
    "qos":"",
    "retain":"",
    "respTopic":"",
    "contentType":"",
    "userProps":"",
    "correl":"",
    "expiry":"",
    "broker":"a09f8b607382b939",
    "x":1570,
    "y":360,
    "wires":[

    ]
  },
  {
    "id":"f7c6b2a1db3794dc",
    "type":"debug",
    "z":"6e899fd485dcb4f4",
    "name":"",
    "active":false,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"true",
    "targetType":"full",
    "statusVal":"",
    "statusType":"auto",
    "x":1330,
    "y":260,
    "wires":[

    ]
  },
  {
    "id":"a1ab9155be964a6f",
    "type":"rbe",
    "z":"6e899fd485dcb4f4",
    "name":"",
    "func":"rbe",
    "gap":"",
    "start":"",
    "inout":"out",
    "septopics":false,
    "property":"payload.value",
    "topi":"topic",
    "x":910,
    "y":320,
    "wires":[
      [
        "d28e43e1c1b0baf5"
      ]
    ]
  },
  {
    "id":"d28e43e1c1b0baf5",
    "type":"delay",
    "z":"6e899fd485dcb4f4",
    "name":"",
    "pauseType":"rate",
    "timeout":"10",
    "timeoutUnits":"seconds",
    "rate":"1",
    "nbRateUnits":"1",
    "rateUnits":"second",
    "randomFirst":"1",
    "randomLast":"5",
    "randomUnits":"seconds",
    "drop":false,
    "allowrate":false,
    "x":1130,
    "y":360,
    "wires":[
      [
        "913d5fd88b91cfba",
        "f7c6b2a1db3794dc"
      ]
    ]
  },
  {
    "id":"0ca14e91fe0c3b28",
    "type":"delay",
    "z":"6e899fd485dcb4f4",
    "name":"",
    "pauseType":"rate",
    "timeout":"10",
    "timeoutUnits":"seconds",
    "rate":"1",
    "nbRateUnits":"5",
    "rateUnits":"second",
    "randomFirst":"1",
    "randomLast":"5",
    "randomUnits":"seconds",
    "drop":true,
    "allowrate":false,
    "x":920,
    "y":560,
    "wires":[
      [
        "8669a6f153575988"
      ]
    ]
  },
  {
    "id":"2323fc07877ef9ba",
    "type":"rbe",
    "z":"6e899fd485dcb4f4",
    "name":"",
    "func":"rbe",
    "gap":"",
    "start":"",
    "inout":"out",
    "septopics":true,
    "property":"payload.value",
    "topi":"topic",
    "x":910,
    "y":480,
    "wires":[
      [
        "8669a6f153575988"
      ]
    ]
  },
  {
    "id":"8669a6f153575988",
    "type":"delay",
    "z":"6e899fd485dcb4f4",
    "name":"",
    "pauseType":"rate",
    "timeout":"10",
    "timeoutUnits":"seconds",
    "rate":"1",
    "nbRateUnits":"1",
    "rateUnits":"second",
    "randomFirst":"1",
    "randomLast":"5",
    "randomUnits":"seconds",
    "drop":false,
    "allowrate":false,
    "x":1130,
    "y":520,
    "wires":[
      [
        "e1cc3c3df9acfa0c"
      ]
    ]
  },
  {
    "id":"8bd2ff7f35821de2",
    "type":"delay",
    "z":"6e899fd485dcb4f4",
    "name":"",
    "pauseType":"rate",
    "timeout":"10",
    "timeoutUnits":"seconds",
    "rate":"1",
    "nbRateUnits":"5",
    "rateUnits":"second",
    "randomFirst":"1",
    "randomLast":"5",
    "randomUnits":"seconds",
    "drop":true,
    "allowrate":false,
    "x":920,
    "y":720,
    "wires":[
      [
        "4a73b7b5fdf2fce1"
      ]
    ]
  },
  {
    "id":"5835db1e75f7bdbe",
    "type":"rbe",
    "z":"6e899fd485dcb4f4",
    "name":"",
    "func":"rbe",
    "gap":"",
    "start":"",
    "inout":"out",
    "septopics":true,
    "property":"payload.value",
    "topi":"topic",
    "x":910,
    "y":640,
    "wires":[
      [
        "4a73b7b5fdf2fce1"
      ]
    ]
  },
  {
    "id":"4a73b7b5fdf2fce1",
    "type":"delay",
    "z":"6e899fd485dcb4f4",
    "name":"",
    "pauseType":"rate",
    "timeout":"10",
    "timeoutUnits":"seconds",
    "rate":"1",
    "nbRateUnits":"1",
    "rateUnits":"second",
    "randomFirst":"1",
    "randomLast":"5",
    "randomUnits":"seconds",
    "drop":false,
    "allowrate":false,
    "x":1130,
    "y":680,
    "wires":[
      [
        "25923ceee40f71e4"
      ]
    ]
  },
  {
    "id":"ad075f58d4028277",
    "type":"delay",
    "z":"6e899fd485dcb4f4",
    "name":"",
    "pauseType":"rate",
    "timeout":"10",
    "timeoutUnits":"seconds",
    "rate":"1",
    "nbRateUnits":"5",
    "rateUnits":"second",
    "randomFirst":"1",
    "randomLast":"5",
    "randomUnits":"seconds",
    "drop":true,
    "allowrate":false,
    "x":920,
    "y":880,
    "wires":[
      [
        "fa788139329f8057"
      ]
    ]
  },
  {
    "id":"46648479d5a96572",
    "type":"rbe",
    "z":"6e899fd485dcb4f4",
    "name":"",
    "func":"rbe",
    "gap":"",
    "start":"",
    "inout":"out",
    "septopics":true,
    "property":"payload.value",
    "topi":"topic",
    "x":910,
    "y":800,
    "wires":[
      [
        "fa788139329f8057"
      ]
    ]
  },
  {
    "id":"fa788139329f8057",
    "type":"delay",
    "z":"6e899fd485dcb4f4",
    "name":"",
    "pauseType":"rate",
    "timeout":"10",
    "timeoutUnits":"seconds",
    "rate":"1",
    "nbRateUnits":"1",
    "rateUnits":"second",
    "randomFirst":"1",
    "randomLast":"5",
    "randomUnits":"seconds",
    "drop":false,
    "allowrate":false,
    "x":1130,
    "y":840,
    "wires":[
      [
        "3aa8ddabc4d12549"
      ]
    ]
  },
  {
    "id":"343366109f13235b",
    "type":"comment",
    "z":"6e899fd485dcb4f4",
    "name":"Fine tuned logic (click for more information) ",
    "info":"With a button push several messages are sent with either 0 or 1 as values. This is handled by only requesting a value every 5 seconds. Additionally, the filter lets messages pass, which have a changed value (e.g. 1 when it was previously 0). This reduces the amount of message load the system has to handle without reducing the funcitonality.",
    "x":1020,
    "y":280,
    "wires":[

    ]
  },
  {
    "id":"a09f8b607382b939",
    "type":"mqtt-broker",
    "name":"",
    "broker":"united-manufacturing-hub-hivemqce-local-service",
    "port":"1883",
    "clientid":"",
    "usetls":false,
    "protocolVersion":"4",
    "keepalive":"60",
    "cleansession":true,
    "birthTopic":"",
    "birthQos":"0",
    "birthPayload":"",
    "birthMsg":{

    },
    "closeTopic":"",
    "closeQos":"0",
    "closePayload":"",
    "closeMsg":{

    },
    "willTopic":"",
    "willQos":"0",
    "willPayload":"",
    "willMsg":{

    },
    "sessionExpiry":""
  }
]