Node-RED/flows/s7basicTemplate-node-red.json
[
  {
    "id":"8ccd9815683ffa98",
    "type":"tab",
    "label":"Flow 1",
    "disabled":false,
    "info":""
  },
  {
    "id":"3fb37240fc3eb595",
    "type":"function",
    "z":"8ccd9815683ffa98",
    "name":"msg.payload",
    "func":"var payload = msg.payload\n\nmsg.payload = {\n    \"timestamp_ms\": Date.now(), \n}\n\nif (payload === null) {\n    msg.payload[msg.topic.replace(/\\s+/g, '_')] = 0\n} else {\n    msg.payload[msg.topic.replace(/\\s+/g, '_')] = payload\n}\n\nmsg.topic='ia/raw/dccaachen/printing/'+msg.topic.replace(/\\s+/g, '_')\n\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":610,
    "y":280,
    "wires":[
      [
        "6e24206fcb14b30e"
      ]
    ]
  },
  {
    "id":"6e24206fcb14b30e",
    "type":"mqtt out",
    "z":"8ccd9815683ffa98",
    "name":"",
    "topic":"",
    "qos":"",
    "retain":"",
    "respTopic":"",
    "contentType":"",
    "userProps":"",
    "correl":"",
    "expiry":"",
    "broker":"a09f8b607382b939",
    "x":810,
    "y":280,
    "wires":[

    ]
  },
  {
    "id":"64fc1e2aae5e4d8f",
    "type":"s7 in",
    "z":"8ccd9815683ffa98",
    "endpoint":"62e57a7b.aa7394",
    "mode":"single",
    "variable":"Ansaugung_Geblaese_Nicht_ok",
    "diff":true,
    "name":"",
    "x":330,
    "y":280,
    "wires":[
      [
        "3fb37240fc3eb595"
      ]
    ]
  },
  {
    "id":"a09f8b607382b939",
    "type":"mqtt-broker",
    "name":"",
    "broker":"united-manufacturing-hub-hivemqce-local-service",
    "port":"1883",
    "clientid":"",
    "usetls":false,
    "protocolVersion":"4",
    "keepalive":"60",
    "cleansession":true,
    "birthTopic":"",
    "birthQos":"0",
    "birthPayload":"",
    "birthMsg":{

    },
    "closeTopic":"",
    "closeQos":"0",
    "closePayload":"",
    "closeMsg":{

    },
    "willTopic":"",
    "willQos":"0",
    "willPayload":"",
    "willMsg":{

    },
    "sessionExpiry":""
  },
  {
    "id":"62e57a7b.aa7394",
    "type":"s7 endpoint",
    "transport":"iso-on-tcp",
    "address":"192.168.1.165",
    "port":"102",
    "rack":"0",
    "slot":"1",
    "localtsaphi":"01",
    "localtsaplo":"00",
    "remotetsaphi":"01",
    "remotetsaplo":"00",
    "connmode":"rack-slot",
    "adapter":"",
    "busaddr":"2",
    "cycletime":"500",
    "timeout":"1500",
    "name":"",
    "vartable":[
      {
        "addr":"Q2.6",
        "name":"A_LA_PAUSE"
      },
      {
        "addr":"Q2.5",
        "name":"A_LA_START"
      },
      {
        "addr":"Q2.4",
        "name":"A_LA_STOP"
      },
      {
        "addr":"QW112",
        "name":"AA_SW_Fördermotor"
      },
      {
        "addr":"QW114",
        "name":"AA_SW_IFR_Strahler"
      },
      {
        "addr":"QW118",
        "name":"AA_SW_Trockner_Gebläse"
      },
      {
        "addr":"QW116",
        "name":"AA_SW_Trockner_Heizen"
      },
      {
        "addr":"M101.1",
        "name":"Abbruch_Druckbetrieb"
      },
      {
        "addr":"M100.2",
        "name":"Abfrage_Reset_Starten"
      },
      {
        "addr":"IW64",
        "name":"AI_IST_TEMP_TROCKNER"
      },
      {
        "addr":"IW66",
        "name":"AI66"
      },
      {
        "addr":"M103.5",
        "name":"Ansaugung_Geblaese_Nicht_ok"
      },
      {
        "addr":"QW64",
        "name":"AQ64"
      },
      {
        "addr":"QW66",
        "name":"AQ66"
      },
      {
        "addr":"M13.2",
        "name":"AUFHEIZPHASE"
      },
      {
        "addr":"M5.3",
        "name":"DRUCKER_REINIGUNG_AKTIV"
      },
      {
        "addr":"I2.1",
        "name":"ERR_ENTKLANKER"
      },
      {
        "addr":"I2.2",
        "name":"ERR_GEBLÄSE_ABSAUG"
      },
      {
        "addr":"I2.3",
        "name":"ERR_GEBLÄSE_HEIZUNG"
      },
      {
        "addr":"I2.0",
        "name":"ERR_TEMP_FÜHLER"
      },
      {
        "addr":"MR380",
        "name":"Geschw_mm_sec"
      },
      {
        "addr":"MR340",
        "name":"Ist_Speed_Bandvorschub_mm_sec"
      },
      {
        "addr":"MR400",
        "name":"Ist_Temp_C"
      },
      {
        "addr":"M100.4",
        "name":"JBox_Leer"
      },
      {
        "addr":"MR300",
        "name":"Laenge_ges_mm"
      },
      {
        "addr":"MR320",
        "name":"Laenge_gespeichert_mm"
      },
      {
        "addr":"MR330",
        "name":"Laenge_m"
      },
      {
        "addr":"MR310",
        "name":"Laengenzuwachs_mm_tippen"
      },
      {
        "addr":"M103.3",
        "name":"Laufzeit_Fehler_B1"
      },
      {
        "addr":"M103.4",
        "name":"Laufzeit_Fehler_B2"
      },
      {
        "addr":"MR410",
        "name":"Luftmenge_Heizgeblaese"
      },
      {
        "addr":"M5.1",
        "name":"M_TEMP_OK"
      },
      {
        "addr":"M101.0",
        "name":"MELD_1"
      },
      {
        "addr":"M100.7",
        "name":"MELD_16"
      },
      {
        "addr":"M103.6",
        "name":"MELD_23"
      },
      {
        "addr":"M103.7",
        "name":"MELD_24"
      },
      {
        "addr":"M102.0",
        "name":"MELD_25"
      },
      {
        "addr":"M102.1",
        "name":"MELD_26"
      },
      {
        "addr":"M102.2",
        "name":"MELD_27"
      },
      {
        "addr":"M102.3",
        "name":"MELD_28"
      },
      {
        "addr":"M102.4",
        "name":"MELD_29"
      },
      {
        "addr":"M102.5",
        "name":"MELD_30"
      },
      {
        "addr":"M102.6",
        "name":"MELD_31"
      },
      {
        "addr":"M101.4",
        "name":"MELD_5"
      },
      {
        "addr":"M101.5",
        "name":"MELD_6"
      },
      {
        "addr":"M101.6",
        "name":"MELD_7"
      },
      {
        "addr":"M101.7",
        "name":"MELD_8"
      },
      {
        "addr":"M100.0",
        "name":"MELD_9"
      },
      {
        "addr":"I1.5",
        "name":"METEALL_FEHLER"
      },
      {
        "addr":"M101.2",
        "name":"Noch_Nicht_Betriebsbereit"
      },
      {
        "addr":"M101.3",
        "name":"Not_Aus_Aktiv"
      },
      {
        "addr":"M102.7",
        "name":"Pheripherie_Fehler"
      },
      {
        "addr":"M100.5",
        "name":"Reset_Aktiv"
      },
      {
        "addr":"M100.1",
        "name":"Reset_Anfordern"
      },
      {
        "addr":"MR390",
        "name":"Soll_Temp_Heizkanal_C"
      },
      {
        "addr":"M100.3",
        "name":"Spannung_48V_Fehlt"
      },
      {
        "addr":"MR360",
        "name":"Speed_fixieren_mm_sec"
      },
      {
        "addr":"MR350",
        "name":"Speed_Transport_mm_sec"
      },
      {
        "addr":"M103.2",
        "name":"Stoerung_Druckluft"
      },
      {
        "addr":"M103.0",
        "name":"Stoerung_Entklanker"
      },
      {
        "addr":"M103.1",
        "name":"Stoerung_Geblaesemotor"
      },
      {
        "addr":"M100.6",
        "name":"Stoerung_Temperature_Fuehler"
      },
      {
        "addr":"MR370",
        "name":"Weg_fixieren_mm_sec"
      }
    ]
  }
]