Node-RED/flows/simulated-data-converter/simulated-mqtt-data-flow.json
[
  {
    "id":"aa89298bb6585fae",
    "type":"tab",
    "label":"simulated mqtt data",
    "disabled":false,
    "info":""
  },
  {
    "id":"0327036f159d337a",
    "type":"mqtt out",
    "z":"aa89298bb6585fae",
    "name":"",
    "topic":"",
    "qos":"",
    "retain":"",
    "respTopic":"",
    "contentType":"",
    "userProps":"",
    "correl":"",
    "expiry":"",
    "broker":"974044949ad7aee6",
    "x":990,
    "y":260,
    "wires":[

    ]
  },
  {
    "id":"e9bd90b13625fe03",
    "type":"debug",
    "z":"aa89298bb6585fae",
    "name":"",
    "active":true,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":890,
    "y":360,
    "wires":[

    ]
  },
  {
    "id":"4bee34473052c0c5",
    "type":"json",
    "z":"aa89298bb6585fae",
    "name":"",
    "property":"payload",
    "action":"",
    "pretty":false,
    "x":530,
    "y":260,
    "wires":[
      [
        "36657999cf84394f",
        "4696f39cb09167ce"
      ]
    ]
  },
  {
    "id":"36657999cf84394f",
    "type":"function",
    "z":"aa89298bb6585fae",
    "name":"",
    "func":"msg.payload ={\n    \n    \"timestamp_ms\": Date.now(), \n    \"temperature\": parseFloat(msg.payload, 10)\n}\n\nmsg.topic = \"ia/factoryinsight/Aachen/testing/processValue\";\n\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":760,
    "y":260,
    "wires":[
      [
        "0327036f159d337a"
      ]
    ]
  },
  {
    "id":"bf0654bf1d657bcc",
    "type":"mqtt in",
    "z":"aa89298bb6585fae",
    "name":"",
    "topic":"ia/factoryinsight/Aachen/testing/processValue",
    "qos":"2",
    "datatype":"auto",
    "broker":"974044949ad7aee6",
    "nl":false,
    "rap":true,
    "rh":0,
    "x":310,
    "y":360,
    "wires":[
      [
        "99cbc932ef6dc1ad"
      ]
    ]
  },
  {
    "id":"99cbc932ef6dc1ad",
    "type":"json",
    "z":"aa89298bb6585fae",
    "name":"",
    "property":"payload",
    "action":"",
    "pretty":false,
    "x":650,
    "y":360,
    "wires":[
      [
        "e9bd90b13625fe03"
      ]
    ]
  },
  {
    "id":"4696f39cb09167ce",
    "type":"function",
    "z":"aa89298bb6585fae",
    "name":"",
    "func":"flow.set(\"current\",msg.payload);\nif (flow.get(\"current\")>45){\n    flow.set(\"count\", flow.get(\"count\")+1);\n    msg.payload = {\"TemperatureWarning\":flow.get(\"count\"), \"timestamp_ms\":Date.now()}\n    msg.topic = \"ia/factoryinsight/Aachen/testing/processValue\";\n    return msg;\n}\n",
    "outputs":1,
    "noerr":0,
    "initialize":"// Der Code hier wird ausgeführt,\n// wenn der Node gestartet wird\nflow.set(\"count\", 0);\nflow.set(\"current\", 0)\n",
    "finalize":"",
    "libs":[

    ],
    "x":760,
    "y":180,
    "wires":[
      [
        "0327036f159d337a"
      ]
    ]
  },
  {
    "id":"636707325aa189d0",
    "type":"mqtt in",
    "z":"aa89298bb6585fae",
    "name":"",
    "topic":"ia/raw/development/ioTSensors/Temperature",
    "qos":"2",
    "datatype":"auto",
    "broker":"974044949ad7aee6",
    "nl":false,
    "rap":true,
    "rh":0,
    "x":270,
    "y":260,
    "wires":[
      [
        "4bee34473052c0c5"
      ]
    ]
  },
  {
    "id":"974044949ad7aee6",
    "type":"mqtt-broker",
    "name":"",
    "broker":"united-manufacturing-hub-hivemqce-local-service",
    "port":"1883",
    "clientid":"",
    "usetls":false,
    "protocolVersion":"4",
    "keepalive":"60",
    "cleansession":true,
    "birthTopic":"",
    "birthQos":"0",
    "birthPayload":"",
    "birthMsg":{

    },
    "closeTopic":"",
    "closeQos":"0",
    "closePayload":"",
    "closeMsg":{

    },
    "willTopic":"",
    "willQos":"0",
    "willPayload":"",
    "willMsg":{

    },
    "sessionExpiry":""
  }
]