Node-RED/flows/simulated-data-converter/simulated-packml-flow.json
[
  {
    "id":"cf23c5ab731d1bf6",
    "type":"tab",
    "label":"Flow 2",
    "disabled":false,
    "info":""
  },
  {
    "id":"36062c99424fd7c8",
    "type":"inject",
    "z":"cf23c5ab731d1bf6",
    "name":"Unsuspend",
    "props":[
      {
        "p":"payload"
      },
      {
        "p":"topic",
        "vt":"str"
      }
    ],
    "repeat":"",
    "crontab":"",
    "once":false,
    "onceDelay":0.1,
    "topic":"testLocation/DefaultArea/DefaultProductionLine/Command/Unsuspend",
    "payload":"1",
    "payloadType":"num",
    "x":230,
    "y":120,
    "wires":[
      [
        "5cabab2147bae1bd"
      ]
    ]
  },
  {
    "id":"5cabab2147bae1bd",
    "type":"mqtt out",
    "z":"cf23c5ab731d1bf6",
    "name":"",
    "topic":"",
    "qos":"",
    "retain":"",
    "respTopic":"",
    "contentType":"",
    "userProps":"",
    "correl":"",
    "expiry":"",
    "broker":"974044949ad7aee6",
    "x":410,
    "y":120,
    "wires":[

    ]
  },
  {
    "id":"fdaa8a4e99569dbe",
    "type":"inject",
    "z":"cf23c5ab731d1bf6",
    "name":"Start",
    "props":[
      {
        "p":"payload"
      },
      {
        "p":"topic",
        "vt":"str"
      }
    ],
    "repeat":"",
    "crontab":"",
    "once":false,
    "onceDelay":0.1,
    "topic":"testLocation/DefaultArea/DefaultProductionLine/Command/Start",
    "payload":"1",
    "payloadType":"num",
    "x":250,
    "y":300,
    "wires":[
      [
        "d0f0a82e4b3a0db8"
      ]
    ]
  },
  {
    "id":"d0f0a82e4b3a0db8",
    "type":"mqtt out",
    "z":"cf23c5ab731d1bf6",
    "name":"",
    "topic":"",
    "qos":"",
    "retain":"",
    "respTopic":"",
    "contentType":"",
    "userProps":"",
    "correl":"",
    "expiry":"",
    "broker":"974044949ad7aee6",
    "x":410,
    "y":300,
    "wires":[

    ]
  },
  {
    "id":"0eacedd4cd6e4dda",
    "type":"inject",
    "z":"cf23c5ab731d1bf6",
    "name":"Hold",
    "props":[
      {
        "p":"payload"
      },
      {
        "p":"topic",
        "vt":"str"
      }
    ],
    "repeat":"",
    "crontab":"",
    "once":false,
    "onceDelay":0.1,
    "topic":"testLocation/DefaultArea/DefaultProductionLine/Command/Hold",
    "payload":"1",
    "payloadType":"num",
    "x":250,
    "y":180,
    "wires":[
      [
        "6bba7bfcec5598ba"
      ]
    ]
  },
  {
    "id":"6bba7bfcec5598ba",
    "type":"mqtt out",
    "z":"cf23c5ab731d1bf6",
    "name":"",
    "topic":"",
    "qos":"",
    "retain":"",
    "respTopic":"",
    "contentType":"",
    "userProps":"",
    "correl":"",
    "expiry":"",
    "broker":"974044949ad7aee6",
    "x":410,
    "y":180,
    "wires":[

    ]
  },
  {
    "id":"c3551ef37feeb50d",
    "type":"inject",
    "z":"cf23c5ab731d1bf6",
    "name":"Unhold",
    "props":[
      {
        "p":"payload"
      },
      {
        "p":"topic",
        "vt":"str"
      }
    ],
    "repeat":"",
    "crontab":"",
    "once":false,
    "onceDelay":0.1,
    "topic":"testLocation/DefaultArea/DefaultProductionLine/Command/Unhold",
    "payload":"1",
    "payloadType":"num",
    "x":250,
    "y":240,
    "wires":[
      [
        "97d91f3a416d7b55"
      ]
    ]
  },
  {
    "id":"97d91f3a416d7b55",
    "type":"mqtt out",
    "z":"cf23c5ab731d1bf6",
    "name":"",
    "topic":"",
    "qos":"",
    "retain":"",
    "respTopic":"",
    "contentType":"",
    "userProps":"",
    "correl":"",
    "expiry":"",
    "broker":"974044949ad7aee6",
    "x":410,
    "y":240,
    "wires":[

    ]
  },
  {
    "id":"f0ddcd00c726887a",
    "type":"debug",
    "z":"cf23c5ab731d1bf6",
    "name":"",
    "active":true,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":730,
    "y":740,
    "wires":[

    ]
  },
  {
    "id":"ec2f575d0736ef8a",
    "type":"mqtt in",
    "z":"cf23c5ab731d1bf6",
    "name":"",
    "topic":"ia/factoryinsight/aachen/maschine/#",
    "qos":"2",
    "datatype":"auto",
    "broker":"974044949ad7aee6",
    "nl":false,
    "rap":true,
    "rh":0,
    "x":460,
    "y":740,
    "wires":[
      [
        "f0ddcd00c726887a"
      ]
    ]
  },
  {
    "id":"184f9355d5c20b8e",
    "type":"inject",
    "z":"cf23c5ab731d1bf6",
    "name":"reset",
    "props":[
      {
        "p":"payload"
      },
      {
        "p":"topic",
        "vt":"str"
      }
    ],
    "repeat":"",
    "crontab":"",
    "once":false,
    "onceDelay":0.1,
    "topic":"testLocation/DefaultArea/DefaultProductionLine/Command/Reset",
    "payload":"1",
    "payloadType":"num",
    "x":290,
    "y":360,
    "wires":[
      [
        "5b1512420427094a"
      ]
    ]
  },
  {
    "id":"5b1512420427094a",
    "type":"mqtt out",
    "z":"cf23c5ab731d1bf6",
    "name":"",
    "topic":"",
    "qos":"",
    "retain":"",
    "respTopic":"",
    "contentType":"",
    "userProps":"",
    "correl":"",
    "expiry":"",
    "broker":"974044949ad7aee6",
    "x":420,
    "y":360,
    "wires":[

    ]
  },
  {
    "id":"e763bf2320d306de",
    "type":"switch",
    "z":"cf23c5ab731d1bf6",
    "name":"",
    "property":"payload",
    "propertyType":"msg",
    "rules":[
      {
        "t":"eq",
        "v":"1",
        "vt":"str"
      },
      {
        "t":"eq",
        "v":"2",
        "vt":"str"
      },
      {
        "t":"eq",
        "v":"3",
        "vt":"str"
      },
      {
        "t":"eq",
        "v":"5",
        "vt":"str"
      },
      {
        "t":"eq",
        "v":"6",
        "vt":"str"
      },
      {
        "t":"eq",
        "v":"10",
        "vt":"str"
      },
      {
        "t":"eq",
        "v":"11",
        "vt":"str"
      },
      {
        "t":"eq",
        "v":"12",
        "vt":"str"
      },
      {
        "t":"eq",
        "v":"13",
        "vt":"str"
      },
      {
        "t":"eq",
        "v":"14",
        "vt":"str"
      }
    ],
    "checkall":"true",
    "repair":false,
    "outputs":10,
    "x":1010,
    "y":540,
    "wires":[
      [
        "d3ad7fafe1f20a11"
      ],
      [
        "a4ef3d5a01a239a5"
      ],
      [
        "1b3ecb1150235aa1"
      ],
      [
        "92060d11dea846bd"
      ],
      [
        "f195f464c9b397a7"
      ],
      [
        "8bd357bea5663d2f"
      ],
      [
        "b891cc52a4b52937"
      ],
      [
        "da80507a7bd05695"
      ],
      [
        "b58235b5e675a987"
      ],
      [
        "99935cb3d7d28b96"
      ]
    ]
  },
  {
    "id":"0192feef7fa0e0b8",
    "type":"mqtt in",
    "z":"cf23c5ab731d1bf6",
    "name":"",
    "topic":"testLocation/DefaultArea/DefaultProductionLine/Status/StateCurrent",
    "qos":"2",
    "datatype":"auto",
    "broker":"974044949ad7aee6",
    "nl":false,
    "rap":true,
    "rh":0,
    "x":440,
    "y":540,
    "wires":[
      [
        "d4980127fe097753"
      ]
    ]
  },
  {
    "id":"a53cb83f4905586b",
    "type":"json",
    "z":"cf23c5ab731d1bf6",
    "name":"",
    "property":"payload",
    "action":"",
    "pretty":false,
    "x":870,
    "y":540,
    "wires":[
      [
        "e763bf2320d306de"
      ]
    ]
  },
  {
    "id":"d3ad7fafe1f20a11",
    "type":"function",
    "z":"cf23c5ab731d1bf6",
    "name":"idle",
    "func":"msg.payload = {\"state\":4000, \"timestamp_ms\":Date.now()}\nmsg.topic = \"ia/factoryinsight/dccaachen/maschine/state\"\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":1230,
    "y":360,
    "wires":[
      [
        "e87a584a0931ba13"
      ]
    ]
  },
  {
    "id":"a4ef3d5a01a239a5",
    "type":"function",
    "z":"cf23c5ab731d1bf6",
    "name":"stopped",
    "func":" msg.payload = {\"state\":40000, \"timestamp_ms\":Date.now()}\n msg.topic = \"ia/factoryinsight/dccaachen/maschine/state\"\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":1240,
    "y":400,
    "wires":[
      [
        "e87a584a0931ba13"
      ]
    ]
  },
  {
    "id":"1b3ecb1150235aa1",
    "type":"function",
    "z":"cf23c5ab731d1bf6",
    "name":"starting",
    "func":"msg.payload = {\"state\":40000, \"timestamp_ms\":Date.now()}\nmsg.topic = \"ia/factoryinsight/dccaachen/maschine/state\"\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":1240,
    "y":440,
    "wires":[
      [
        "e87a584a0931ba13"
      ]
    ]
  },
  {
    "id":"92060d11dea846bd",
    "type":"function",
    "z":"cf23c5ab731d1bf6",
    "name":"suspended",
    "func":" msg.payload = {\"state\":90000, \"timestamp_ms\":Date.now()}\n msg.topic = \"ia/factoryinsight/dccaachen/maschine/state\"\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":1250,
    "y":480,
    "wires":[
      [
        "e87a584a0931ba13"
      ]
    ]
  },
  {
    "id":"f195f464c9b397a7",
    "type":"function",
    "z":"cf23c5ab731d1bf6",
    "name":"execute",
    "func":"msg.payload = { \"state\":10000, \"timestamp_ms\":Date.now()} \nmsg.topic = \"ia/factoryinsight/dccaachen/maschine/state\"\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":1240,
    "y":520,
    "wires":[
      [
        "e87a584a0931ba13"
      ]
    ]
  },
  {
    "id":"8bd357bea5663d2f",
    "type":"function",
    "z":"cf23c5ab731d1bf6",
    "name":"holding",
    "func":"msg.payload = {\"state\":20000, \"timestamp_ms\":Date.now()}\nmsg.topic = \"ia/factoryinsight/dccaachen/maschine/state\"\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":1240,
    "y":560,
    "wires":[
      [
        "e87a584a0931ba13"
      ]
    ]
  },
  {
    "id":"b891cc52a4b52937",
    "type":"function",
    "z":"cf23c5ab731d1bf6",
    "name":"held",
    "func":"msg.payload = {\"state\":220000, \"timestamp_ms\":Date.now()}\nmsg.topic = \"ia/factoryinsight/dccaachen/maschine/state\"\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":1230,
    "y":600,
    "wires":[
      [
        "e87a584a0931ba13"
      ]
    ]
  },
  {
    "id":"da80507a7bd05695",
    "type":"function",
    "z":"cf23c5ab731d1bf6",
    "name":"unhold",
    "func":"msg.payload = {\"state\":20000, \"timestamp_ms\":Date.now()}\nmsg.topic = \"ia/factoryinsight/dccaachen/maschine/state\"\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":1230,
    "y":640,
    "wires":[
      [
        "e87a584a0931ba13"
      ]
    ]
  },
  {
    "id":"b58235b5e675a987",
    "type":"function",
    "z":"cf23c5ab731d1bf6",
    "name":"suspending",
    "func":"msg.payload = {\"state\":20000, \"timestamp_ms\":Date.now()}\nmsg.topic = \"ia/factoryinsight/dccaachen/maschine/state\"\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":1250,
    "y":680,
    "wires":[
      [
        "e87a584a0931ba13"
      ]
    ]
  },
  {
    "id":"99935cb3d7d28b96",
    "type":"function",
    "z":"cf23c5ab731d1bf6",
    "name":"unsuspending",
    "func":"msg.payload = {\"state\":20000, \"timestamp_ms\":Date.now()}\nmsg.topic = \"ia/factoryinsight/dccaachen/maschine/state\"\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":1260,
    "y":720,
    "wires":[
      [
        "e87a584a0931ba13"
      ]
    ]
  },
  {
    "id":"d4980127fe097753",
    "type":"rbe",
    "z":"cf23c5ab731d1bf6",
    "name":"",
    "func":"rbe",
    "gap":"",
    "start":"",
    "inout":"out",
    "septopics":true,
    "property":"payload",
    "topi":"topic",
    "x":750,
    "y":540,
    "wires":[
      [
        "a53cb83f4905586b"
      ]
    ]
  },
  {
    "id":"e87a584a0931ba13",
    "type":"mqtt out",
    "z":"cf23c5ab731d1bf6",
    "name":"",
    "topic":"",
    "qos":"",
    "retain":"",
    "respTopic":"",
    "contentType":"",
    "userProps":"",
    "correl":"",
    "expiry":"",
    "broker":"974044949ad7aee6",
    "x":1670,
    "y":460,
    "wires":[

    ]
  },
  {
    "id":"3a56a6431e62ac9b",
    "type":"mqtt in",
    "z":"cf23c5ab731d1bf6",
    "name":"",
    "topic":"testLocation/DefaultArea/DefaultProductionLine/Status/StateCurrentStr",
    "qos":"2",
    "datatype":"auto",
    "broker":"974044949ad7aee6",
    "nl":false,
    "rap":true,
    "rh":0,
    "x":450,
    "y":900,
    "wires":[
      [
        "ffb655d05cfb1488"
      ]
    ]
  },
  {
    "id":"ffb655d05cfb1488",
    "type":"function",
    "z":"cf23c5ab731d1bf6",
    "name":"",
    "func":"msg.payload = {\n    \n    \"timestamp_ms\":Date.now(),\n    \"CurrentState\":String(msg.payload)\n\n}\nmsg.topic = \"ia/factoryinsight/Aachen/mach1/processValueString\"\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":940,
    "y":900,
    "wires":[
      [
        "5e711754cda0fc65"
      ]
    ]
  },
  {
    "id":"e51f4ec3eb08e186",
    "type":"json",
    "z":"cf23c5ab731d1bf6",
    "name":"",
    "property":"payload",
    "action":"",
    "pretty":false,
    "x":780,
    "y":900,
    "wires":[
      [

      ]
    ]
  },
  {
    "id":"5e711754cda0fc65",
    "type":"debug",
    "z":"cf23c5ab731d1bf6",
    "name":"",
    "active":true,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"false",
    "statusVal":"",
    "statusType":"auto",
    "x":1110,
    "y":900,
    "wires":[

    ]
  },
  {
    "id":"fd22b2982e13dd73",
    "type":"comment",
    "z":"cf23c5ab731d1bf6",
    "name":"MQTT test for the 10 function nodes",
    "info":"",
    "x":560,
    "y":680,
    "wires":[

    ]
  },
  {
    "id":"94e945c360482fd9",
    "type":"comment",
    "z":"cf23c5ab731d1bf6",
    "name":"Current state of virtual production line",
    "info":"",
    "x":770,
    "y":820,
    "wires":[

    ]
  },
  {
    "id":"974044949ad7aee6",
    "type":"mqtt-broker",
    "name":"",
    "broker":"united-manufacturing-hub-hivemqce-local-service",
    "port":"1883",
    "clientid":"",
    "usetls":false,
    "protocolVersion":"4",
    "keepalive":"60",
    "cleansession":true,
    "birthTopic":"",
    "birthQos":"0",
    "birthPayload":"",
    "birthMsg":{

    },
    "closeTopic":"",
    "closeQos":"0",
    "closePayload":"",
    "closeMsg":{

    },
    "willTopic":"",
    "willQos":"0",
    "willPayload":"",
    "willMsg":{

    },
    "sessionExpiry":""
  }
]