Node-RED/flows/simulated-data-converter/simulated-opcua-flow.json
[
  {
    "id":"5a3473421a1b1103",
    "type":"tab",
    "label":"IoTSensors Exploring",
    "disabled":false,
    "info":""
  },
  {
    "id":"80a5ae0d2e72adbc",
    "type":"group",
    "z":"5a3473421a1b1103",
    "name":"IoTSensors Demo",
    "style":{
      "stroke":"#9363b7",
      "fill":"#dbcbe7",
      "fill-opacity":"0.4",
      "label":true,
      "label-position":"n",
      "color":"#000000"
    },
    "nodes":[
      "5be8f5feda2276fb"
    ],
    "x":68,
    "y":133,
    "w":1144,
    "h":134
  },
  {
    "id":"5be8f5feda2276fb",
    "type":"group",
    "z":"5a3473421a1b1103",
    "g":"80a5ae0d2e72adbc",
    "name":"IoTSensorsOPCUA Simulator",
    "style":{
      "stroke":"#92d04f",
      "fill":"#e3f3d3",
      "fill-opacity":"0.6",
      "label":true,
      "label-position":"n",
      "color":"#3f3f3f"
    },
    "nodes":[
      "8c511374dec79bd7",
      "2a22e2c6603029c3",
      "1a561bd67e77cea4",
      "fa9790d0149d9db8",
      "0e3a804c8596b4cb"
    ],
    "x":94,
    "y":159,
    "w":1092,
    "h":82
  },
  {
    "id":"8c511374dec79bd7",
    "type":"function",
    "z":"5a3473421a1b1103",
    "g":"5be8f5feda2276fb",
    "name":"Multiple nodes",
    "func":"msg.topic = \"multiple\";\nmsg.payload = [];\nmsg.payload.push({nodeId: \"ns=2;s=Pressure\"});\nmsg.payload.push({nodeId: \"ns=2;s=ConcentrationH2\"});\nmsg.payload.push({nodeId: \"ns=2;s=ConcentrationN2\"});\nmsg.payload.push({nodeId: \"ns=2;s=ConcentrationNH3\"});\nmsg.payload.push({nodeId: \"ns=2;s=Temperature\"});\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":400,
    "y":200,
    "wires":[
      [
        "1a561bd67e77cea4"
      ]
    ]
  },
  {
    "id":"2a22e2c6603029c3",
    "type":"inject",
    "z":"5a3473421a1b1103",
    "g":"5be8f5feda2276fb",
    "name":"",
    "props":[
      {
        "p":"topic",
        "vt":"str"
      },
      {
        "p":"payload"
      }
    ],
    "repeat":"",
    "crontab":"",
    "once":true,
    "onceDelay":"0.1",
    "topic":"multiple",
    "payloadType":"str",
    "x":200,
    "y":200,
    "wires":[
      [
        "8c511374dec79bd7"
      ]
    ]
  },
  {
    "id":"fa9790d0149d9db8",
    "type":"function",
    "z":"5a3473421a1b1103",
    "g":"5be8f5feda2276fb",
    "name":"Sensor data",
    "func":"if (msg.payload && msg.payload.value) {\n  var key = msg.topic.replace(\"ns=2;s=\", '')\n  var value = msg.payload.value.value;\n  var payload =`\n  {\n    \"timestamp_ms\":` + Date.now() + `, \"` +\n    key +`\": `+ value + `\n  }`\n  msg.payload = payload\n  msg.topic = \"ia/factoryinsight/testLocation/testMachine/processValue/\" + key\n  return msg;\n}\n",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":790,
    "y":200,
    "wires":[
      [
        "0e3a804c8596b4cb"
      ]
    ]
  },
  {
    "id":"0e3a804c8596b4cb",
    "type":"mqtt out",
    "z":"5a3473421a1b1103",
    "g":"5be8f5feda2276fb",
    "name":"IoTSensors contextualized data",
    "topic":"",
    "qos":"1",
    "retain":"",
    "respTopic":"",
    "contentType":"",
    "userProps":"",
    "correl":"",
    "expiry":"",
    "broker":"974044949ad7aee6",
    "x":1030,
    "y":200,
    "wires":[

    ]
  },
  {
    "id":"cce37bbc65838adc",
    "type":"debug",
    "z":"5a3473421a1b1103",
    "name":"",
    "active":true,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":770,
    "y":340,
    "wires":[

    ]
  },
  {
    "id":"9379f89a31b6fdb8",
    "type":"mqtt in",
    "z":"5a3473421a1b1103",
    "name":"",
    "topic":"ia/factoryinsight/testLocation/testMachine/processValue/#",
    "qos":"2",
    "datatype":"auto",
    "broker":"974044949ad7aee6",
    "nl":false,
    "rap":true,
    "rh":0,
    "x":390,
    "y":340,
    "wires":[
      [
        "cce37bbc65838adc"
      ]
    ]
  },
  {
    "id":"1a561bd67e77cea4",
    "type":"OpcUa-Client",
    "z":"5a3473421a1b1103",
    "g":"5be8f5feda2276fb",
    "endpoint":"cc02925382b057cc",
    "action":"subscribe",
    "deadbandtype":"a",
    "deadbandvalue":1,
    "time":10,
    "timeUnit":"s",
    "certificate":"n",
    "localfile":"",
    "localkeyfile":"",
    "securitymode":"None",
    "securitypolicy":"None",
    "folderName4PKI":"",
    "name":"",
    "x":600,
    "y":200,
    "wires":[
      [
        "fa9790d0149d9db8"
      ]
    ]
  },
  {
    "id":"974044949ad7aee6",
    "type":"mqtt-broker",
    "name":"",
    "broker":"united-manufacturing-hub-hivemqce-local-service",
    "port":"1883",
    "clientid":"",
    "usetls":false,
    "protocolVersion":"4",
    "keepalive":"60",
    "cleansession":true,
    "birthTopic":"",
    "birthQos":"0",
    "birthPayload":"",
    "birthMsg":{

    },
    "closeTopic":"",
    "closeQos":"0",
    "closePayload":"",
    "closeMsg":{

    },
    "willTopic":"",
    "willQos":"0",
    "willPayload":"",
    "willMsg":{

    },
    "sessionExpiry":""
  },
  {
    "id":"cc02925382b057cc",
    "type":"OpcUa-Endpoint",
    "endpoint":"opc.tcp://united-manufacturing-hub-opcuasimulator-service:46010",
    "secpol":"None",
    "secmode":"None",
    "none":true,
    "login":false,
    "usercert":false,
    "usercertificate":"",
    "userprivatekey":""
  }
]