Node-RED/flows/state/state1Template-node-red.json
[
  {
    "id":"6af914217fea1bc8",
    "type":"tab",
    "label":"Flow 2",
    "disabled":false,
    "info":""
  },
  {
    "id":"081e089ec790dfe2",
    "type":"json",
    "z":"6af914217fea1bc8",
    "name":"",
    "property":"payload",
    "action":"",
    "pretty":false,
    "x":960,
    "y":340,
    "wires":[
      [
        "20a4a21df9523d00"
      ]
    ]
  },
  {
    "id":"20a4a21df9523d00",
    "type":"switch",
    "z":"6af914217fea1bc8",
    "name":"",
    "property":"payload.activity",
    "propertyType":"msg",
    "rules":[
      {
        "t":"eq",
        "v":"0",
        "vt":"str"
      },
      {
        "t":"gt",
        "v":"0",
        "vt":"str"
      }
    ],
    "checkall":"true",
    "repair":false,
    "outputs":2,
    "x":1150,
    "y":340,
    "wires":[
      [
        "9202555f067b0b88"
      ],
      [
        "d787e0223e7e1abe"
      ]
    ]
  },
  {
    "id":"d787e0223e7e1abe",
    "type":"function",
    "z":"6af914217fea1bc8",
    "name":"ProducingAtFullSpeedState",
    "func":"msg.payload = {\n\"timestamp_ms\": msg.payload[\"timestamp_ms\"],\n\"state\": 10000\n}\nmsg.topic = \"ia/factoryinsight/dccaachen/printing/state\"\nreturn msg;\n\n\n",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":1400,
    "y":360,
    "wires":[
      [
        "5aace7d12c2148c9"
      ]
    ]
  },
  {
    "id":"9202555f067b0b88",
    "type":"function",
    "z":"6af914217fea1bc8",
    "name":"UnspecifiedStopState",
    "func":"msg.payload = {\n\"timestamp_ms\": msg.payload[\"timestamp_ms\"],\n\"state\": 40000\n}\nmsg.topic = \"ia/factoryinsight/dccaachen/printing/state\"\nreturn msg;\n\n\n",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":1380,
    "y":300,
    "wires":[
      [
        "5aace7d12c2148c9"
      ]
    ]
  },
  {
    "id":"217896f1953d08dc",
    "type":"mqtt in",
    "z":"6af914217fea1bc8",
    "name":"",
    "topic":"",
    "qos":"2",
    "datatype":"auto",
    "nl":false,
    "rap":true,
    "rh":0,
    "x":790,
    "y":340,
    "wires":[
      [
        "081e089ec790dfe2"
      ]
    ]
  },
  {
    "id":"5aace7d12c2148c9",
    "type":"mqtt out",
    "z":"6af914217fea1bc8",
    "name":"",
    "topic":"",
    "qos":"",
    "retain":"",
    "respTopic":"",
    "contentType":"",
    "userProps":"",
    "correl":"",
    "expiry":"",
    "x":1650,
    "y":320,
    "wires":[

    ]
  }
]