Node-RED/flows/state/state2Template-node-red.json
[
  {
    "id":"04414c4cc6e067e3",
    "type":"tab",
    "label":"Flow 1",
    "disabled":false,
    "info":""
  },
  {
    "id":"4b99f10190642ee0",
    "type":"json",
    "z":"04414c4cc6e067e3",
    "name":"",
    "property":"payload",
    "action":"",
    "pretty":false,
    "x":810,
    "y":340,
    "wires":[
      [
        "ae34f3f2338207e1"
      ]
    ]
  },
  {
    "id":"7b2407bb8d63a97b",
    "type":"function",
    "z":"04414c4cc6e067e3",
    "name":"PreventiveMaintenanceStop ",
    "func":"if (msg.payload.value == 1){\n    msg.payload={\n        \"timestamp_ms\": msg.payload.timestamp_ms,\n        \"state\": 210000\n    }\n    msg.topic = \"ia/factoryinsight/dccaachen/thermosetting/state\"\n\n    return msg;    \n}\n",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":1400,
    "y":340,
    "wires":[
      [
        "bad203e48d9647fc",
        "1aa2380667f1c4d6"
      ]
    ]
  },
  {
    "id":"0c03b3da7b2f107d",
    "type":"json",
    "z":"04414c4cc6e067e3",
    "name":"",
    "property":"payload",
    "action":"",
    "pretty":false,
    "x":810,
    "y":400,
    "wires":[
      [
        "416d96cc5ce46ebf"
      ]
    ]
  },
  {
    "id":"c1740c43b71a6fa0",
    "type":"function",
    "z":"04414c4cc6e067e3",
    "name":"OperatorBreakState ",
    "func":"\nif (msg.payload.value == 1){\n    msg.payload={\n        \"timestamp_ms\": msg.payload.timestamp_ms,\n        \"state\": 150000\n    }\n    msg.topic = \"ia/factoryinsight/dccaachen/thermosetting/state\"\n\n    return msg;\n}",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":1380,
    "y":400,
    "wires":[
      [
        "bad203e48d9647fc",
        "1aa2380667f1c4d6"
      ]
    ]
  },
  {
    "id":"4c79219e91bd33e6",
    "type":"json",
    "z":"04414c4cc6e067e3",
    "name":"",
    "property":"payload",
    "action":"",
    "pretty":false,
    "x":810,
    "y":460,
    "wires":[
      [
        "51119d6974279d23"
      ]
    ]
  },
  {
    "id":"f6ce41804fd510a5",
    "type":"function",
    "z":"04414c4cc6e067e3",
    "name":"MaterialIssueOtherState ",
    "func":"\n\nif (msg.payload.value == 1){\n    \n    msg.payload={\n        \"timestamp_ms\": msg.payload.timestamp_ms,\n        \"state\": 90000\n    }\n    msg.topic = \"ia/factoryinsight/dccaachen/thermosetting/state\"\n\n    return msg;\n}",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":1390,
    "y":460,
    "wires":[
      [
        "bad203e48d9647fc",
        "1aa2380667f1c4d6"
      ]
    ]
  },
  {
    "id":"83a101729056dd29",
    "type":"json",
    "z":"04414c4cc6e067e3",
    "name":"",
    "property":"payload",
    "action":"",
    "pretty":false,
    "x":810,
    "y":520,
    "wires":[
      [
        "26243ac7e7ece213"
      ]
    ]
  },
  {
    "id":"962eabe29af3c766",
    "type":"function",
    "z":"04414c4cc6e067e3",
    "name":"UnspecifiedStopState",
    "func":"\nif (msg.payload.value == 1){\n\n    msg.payload={  \n        \"timestamp_ms\": msg.payload.timestamp_ms,\n        \"state\": 40000\n    }\n    msg.topic = \"ia/factoryinsight/dccaachen/thermosetting/state\"\n\n    return msg;\n}",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":1380,
    "y":520,
    "wires":[
      [
        "bad203e48d9647fc",
        "1aa2380667f1c4d6"
      ]
    ]
  },
  {
    "id":"bad203e48d9647fc",
    "type":"debug",
    "z":"04414c4cc6e067e3",
    "name":"",
    "active":false,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"true",
    "targetType":"full",
    "statusVal":"",
    "statusType":"auto",
    "x":1730,
    "y":620,
    "wires":[

    ]
  },
  {
    "id":"8941c4fa8c0b2c65",
    "type":"comment",
    "z":"04414c4cc6e067e3",
    "name":"Die Funktion und der Timer lösen das Problem mit den mehrfach kommenden Nachrichten bei nur einer Knopfbetätigung.",
    "info":"",
    "x":1110,
    "y":580,
    "wires":[

    ]
  },
  {
    "id":"ae34f3f2338207e1",
    "type":"function",
    "z":"04414c4cc6e067e3",
    "name":"",
    "func":"if (msg.payload.value == 1){\n    msg.payload = msg.payload; \n    return msg\n}\n",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":980,
    "y":340,
    "wires":[
      [
        "594e22a5c5503b66"
      ]
    ]
  },
  {
    "id":"594e22a5c5503b66",
    "type":"delay",
    "z":"04414c4cc6e067e3",
    "name":"",
    "pauseType":"rate",
    "timeout":"5",
    "timeoutUnits":"seconds",
    "rate":"1",
    "nbRateUnits":"30",
    "rateUnits":"second",
    "randomFirst":"1",
    "randomLast":"5",
    "randomUnits":"seconds",
    "drop":true,
    "allowrate":false,
    "x":1160,
    "y":340,
    "wires":[
      [
        "7b2407bb8d63a97b"
      ]
    ]
  },
  {
    "id":"416d96cc5ce46ebf",
    "type":"function",
    "z":"04414c4cc6e067e3",
    "name":"",
    "func":"if (msg.payload.value == 1){\n    msg.payload = msg.payload; \n    return msg\n}\n",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":980,
    "y":400,
    "wires":[
      [
        "9803a9f4da6dbb6c"
      ]
    ]
  },
  {
    "id":"9803a9f4da6dbb6c",
    "type":"delay",
    "z":"04414c4cc6e067e3",
    "name":"",
    "pauseType":"rate",
    "timeout":"5",
    "timeoutUnits":"seconds",
    "rate":"1",
    "nbRateUnits":"30",
    "rateUnits":"second",
    "randomFirst":"1",
    "randomLast":"5",
    "randomUnits":"seconds",
    "drop":true,
    "allowrate":false,
    "x":1160,
    "y":400,
    "wires":[
      [
        "c1740c43b71a6fa0"
      ]
    ]
  },
  {
    "id":"51119d6974279d23",
    "type":"function",
    "z":"04414c4cc6e067e3",
    "name":"",
    "func":"if (msg.payload.value == 1){\n    msg.payload = msg.payload; \n    return msg\n}\n",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":980,
    "y":460,
    "wires":[
      [
        "51bee855ba2c837a"
      ]
    ]
  },
  {
    "id":"51bee855ba2c837a",
    "type":"delay",
    "z":"04414c4cc6e067e3",
    "name":"",
    "pauseType":"rate",
    "timeout":"5",
    "timeoutUnits":"seconds",
    "rate":"1",
    "nbRateUnits":"30",
    "rateUnits":"second",
    "randomFirst":"1",
    "randomLast":"5",
    "randomUnits":"seconds",
    "drop":true,
    "allowrate":false,
    "x":1160,
    "y":460,
    "wires":[
      [
        "f6ce41804fd510a5"
      ]
    ]
  },
  {
    "id":"26243ac7e7ece213",
    "type":"function",
    "z":"04414c4cc6e067e3",
    "name":"",
    "func":"if (msg.payload.value == 1){\n    msg.payload = msg.payload; \n    return msg\n}\n",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":980,
    "y":520,
    "wires":[
      [
        "3d02fe2ab930ec14"
      ]
    ]
  },
  {
    "id":"3d02fe2ab930ec14",
    "type":"delay",
    "z":"04414c4cc6e067e3",
    "name":"",
    "pauseType":"rate",
    "timeout":"5",
    "timeoutUnits":"seconds",
    "rate":"1",
    "nbRateUnits":"30",
    "rateUnits":"second",
    "randomFirst":"1",
    "randomLast":"5",
    "randomUnits":"seconds",
    "drop":true,
    "allowrate":false,
    "x":1160,
    "y":520,
    "wires":[
      [
        "962eabe29af3c766"
      ]
    ]
  },
  {
    "id":"0285e2346b38f839",
    "type":"mqtt in",
    "z":"04414c4cc6e067e3",
    "name":"",
    "topic":"",
    "qos":"2",
    "datatype":"auto",
    "nl":false,
    "rap":true,
    "rh":0,
    "x":590,
    "y":340,
    "wires":[
      [
        "4b99f10190642ee0"
      ]
    ]
  },
  {
    "id":"9936c5665be6e0b5",
    "type":"mqtt in",
    "z":"04414c4cc6e067e3",
    "name":"",
    "topic":"",
    "qos":"2",
    "datatype":"auto",
    "nl":false,
    "rap":true,
    "rh":0,
    "x":590,
    "y":400,
    "wires":[
      [
        "0c03b3da7b2f107d"
      ]
    ]
  },
  {
    "id":"2f52dd36b1d65e79",
    "type":"mqtt in",
    "z":"04414c4cc6e067e3",
    "name":"",
    "topic":"",
    "qos":"2",
    "datatype":"auto",
    "nl":false,
    "rap":true,
    "rh":0,
    "x":590,
    "y":460,
    "wires":[
      [
        "4c79219e91bd33e6"
      ]
    ]
  },
  {
    "id":"f1fe8ec8f4042a9e",
    "type":"mqtt in",
    "z":"04414c4cc6e067e3",
    "name":"",
    "topic":"",
    "qos":"2",
    "datatype":"auto",
    "nl":false,
    "rap":true,
    "rh":0,
    "x":590,
    "y":520,
    "wires":[
      [
        "83a101729056dd29"
      ]
    ]
  },
  {
    "id":"65650c82d2bd2748",
    "type":"mqtt out",
    "z":"04414c4cc6e067e3",
    "name":"",
    "topic":"",
    "qos":"",
    "retain":"",
    "respTopic":"",
    "contentType":"",
    "userProps":"",
    "correl":"",
    "expiry":"",
    "x":null,
    "y":null,
    "wires":[

    ]
  },
  {
    "id":"1aa2380667f1c4d6",
    "type":"mqtt out",
    "z":"04414c4cc6e067e3",
    "name":"",
    "topic":"",
    "qos":"",
    "retain":"",
    "respTopic":"",
    "contentType":"",
    "userProps":"",
    "correl":"",
    "expiry":"",
    "x":1710,
    "y":420,
    "wires":[

    ]
  }
]