Node-RED/flows/opc-ua-input/opcuaTemplate-node-red.json
[
  {
    "id":"41cb317813ea2a83",
    "type":"tab",
    "label":"Flow 1",
    "disabled":false,
    "info":""
  },
  {
    "id":"d18282edb822d9b4",
    "type":"inject",
    "z":"41cb317813ea2a83",
    "name":"",
    "props":[
      {
        "p":"payload"
      },
      {
        "p":"topic",
        "vt":"str"
      }
    ],
    "repeat":"1",
    "crontab":"",
    "once":false,
    "onceDelay":0.1,
    "topic":"",
    "payloadType":"date",
    "x":470,
    "y":320,
    "wires":[
      [
        "7e77016e4e49289b",
        "9f9c637293908da4",
        "7d1bde0804bc2b56",
        "9c570a1ffaa08efe",
        "588d1e4b303f8e2d",
        "f0835c5e7f4c6ede",
        "13f5b4fd903b1931",
        "ba090e98ff2fabe2"
      ]
    ]
  },
  {
    "id":"951eb9632d17f683",
    "type":"OpcUa-Client",
    "z":"41cb317813ea2a83",
    "endpoint":"8cd4fd70.d4736",
    "action":"read",
    "deadbandtype":"a",
    "deadbandvalue":1,
    "time":"1",
    "timeUnit":"s",
    "certificate":"n",
    "localfile":"",
    "localkeyfile":"",
    "securitymode":"None",
    "securitypolicy":"None",
    "folderName4PKI":"",
    "name":"",
    "x":1060,
    "y":300,
    "wires":[
      [
        "284e02e81b9a6eda"
      ]
    ]
  },
  {
    "id":"7e77016e4e49289b",
    "type":"OpcUa-Item",
    "z":"41cb317813ea2a83",
    "item":"ns=4;s=|var|WAGO 750-8101 PFC100 CS 2ETH.Application.PLC_PRG.rTotalActiveEnergy",
    "datatype":"UInt64",
    "value":"",
    "name":"rTotalActiveEnergy",
    "x":710,
    "y":180,
    "wires":[
      [
        "951eb9632d17f683"
      ]
    ]
  },
  {
    "id":"9f9c637293908da4",
    "type":"OpcUa-Item",
    "z":"41cb317813ea2a83",
    "item":"ns=4;s=|var|WAGO 750-8101 PFC100 CS 2ETH.Application.PLC_PRG.rTotalActivePower",
    "datatype":"UInt64",
    "value":"",
    "name":"rTotalActivePower",
    "x":710,
    "y":220,
    "wires":[
      [
        "951eb9632d17f683"
      ]
    ]
  },
  {
    "id":"7d1bde0804bc2b56",
    "type":"OpcUa-Item",
    "z":"41cb317813ea2a83",
    "item":"ns=4;s=|var|WAGO 750-8101 PFC100 CS 2ETH.Application.PLC_PRG.rTotalApparentEnergy",
    "datatype":"UInt64",
    "value":"",
    "name":"rTotalApparentEnergy",
    "x":720,
    "y":260,
    "wires":[
      [
        "951eb9632d17f683"
      ]
    ]
  },
  {
    "id":"9c570a1ffaa08efe",
    "type":"OpcUa-Item",
    "z":"41cb317813ea2a83",
    "item":"ns=4;s=|var|WAGO 750-8101 PFC100 CS 2ETH.Application.PLC_PRG.rTotalApparentPower",
    "datatype":"UInt64",
    "value":"",
    "name":"rTotalApparentPower",
    "x":720,
    "y":300,
    "wires":[
      [
        "951eb9632d17f683"
      ]
    ]
  },
  {
    "id":"588d1e4b303f8e2d",
    "type":"OpcUa-Item",
    "z":"41cb317813ea2a83",
    "item":"ns=4;s=|var|WAGO 750-8101 PFC100 CS 2ETH.Application.PLC_PRG.rTotalPowerFactor",
    "datatype":"UInt64",
    "value":"",
    "name":"rTotalPowerFactor",
    "x":710,
    "y":340,
    "wires":[
      [
        "951eb9632d17f683"
      ]
    ]
  },
  {
    "id":"f0835c5e7f4c6ede",
    "type":"OpcUa-Item",
    "z":"41cb317813ea2a83",
    "item":"ns=4;s=|var|WAGO 750-8101 PFC100 CS 2ETH.Application.PLC_PRG.rTotalReactiveEnergy",
    "datatype":"UInt64",
    "value":"",
    "name":"rTotalReactiveEnergy",
    "x":720,
    "y":380,
    "wires":[
      [
        "951eb9632d17f683"
      ]
    ]
  },
  {
    "id":"ba090e98ff2fabe2",
    "type":"OpcUa-Item",
    "z":"41cb317813ea2a83",
    "item":"ns=4;s=|var|WAGO 750-8101 PFC100 CS 2ETH.Application.PLC_PRG.rTotalReactiveEnergy",
    "datatype":"UInt64",
    "value":"",
    "name":"rVibration",
    "x":680,
    "y":460,
    "wires":[
      [
        "951eb9632d17f683"
      ]
    ]
  },
  {
    "id":"13f5b4fd903b1931",
    "type":"OpcUa-Item",
    "z":"41cb317813ea2a83",
    "item":"ns=4;s=|var|WAGO 750-8101 PFC100 CS 2ETH.Application.PLC_PRG.vibration1\"",
    "datatype":"UInt64",
    "value":"",
    "name":"rTotalReactivePower",
    "x":720,
    "y":420,
    "wires":[
      [
        "951eb9632d17f683"
      ]
    ]
  },
  {
    "id":"284e02e81b9a6eda",
    "type":"function",
    "z":"41cb317813ea2a83",
    "name":"msg.payload",
    "func":"var payload = msg.payload\nmsg.payload ={}\n\nif (payload === null) {\n    msg.payload[msg.browseName] = 0;\n    msg.payload[\"timestamp_ms\"] = Date.now();\n} else {\n    msg.payload[msg.browseName] = payload;\n    msg.payload[\"timestamp_ms\"] = Date.now();\n}\n\nmsg.topic='ia/raw/dccaachen/warping/'+msg.browseName\n\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":1250,
    "y":300,
    "wires":[
      [
        "74989fbaa6b3b6ed"
      ]
    ]
  },
  {
    "id":"74989fbaa6b3b6ed",
    "type":"mqtt out",
    "z":"41cb317813ea2a83",
    "name":"",
    "topic":"",
    "qos":"",
    "retain":"",
    "respTopic":"",
    "contentType":"",
    "userProps":"",
    "correl":"",
    "expiry":"",
    "broker":"a09f8b607382b939",
    "x":1430,
    "y":300,
    "wires":[

    ]
  },
  {
    "id":"8cd4fd70.d4736",
    "type":"OpcUa-Endpoint",
    "endpoint":"opc.tcp://172.16.42.13:4840",
    "secpol":"None",
    "secmode":"None",
    "none":false,
    "login":false,
    "usercert":false,
    "usercertificate":"",
    "userprivatekey":""
  },
  {
    "id":"a09f8b607382b939",
    "type":"mqtt-broker",
    "name":"",
    "broker":"united-manufacturing-hub-hivemqce-local-service",
    "port":"1883",
    "clientid":"",
    "usetls":false,
    "protocolVersion":"4",
    "keepalive":"60",
    "cleansession":true,
    "birthTopic":"",
    "birthQos":"0",
    "birthPayload":"",
    "birthMsg":{

    },
    "closeTopic":"",
    "closeQos":"0",
    "closePayload":"",
    "closeMsg":{

    },
    "willTopic":"",
    "willQos":"0",
    "willPayload":"",
    "willMsg":{

    },
    "sessionExpiry":""
  }
]