Node-RED/flows/addShift/addShiftTemplate-node-red.json
[
  {
    "id":"619e946ac7946ccf",
    "type":"tab",
    "label":"Flow 1",
    "disabled":false,
    "info":""
  },
  {
    "id":"195f235c146b5b59",
    "type":"comment",
    "z":"619e946ac7946ccf",
    "name":"Shift starts every weekday at 9am and ends at 5pm",
    "info":"",
    "x":550,
    "y":140,
    "wires":[

    ]
  },
  {
    "id":"ec2bba07615bad5a",
    "type":"inject",
    "z":"619e946ac7946ccf",
    "name":"",
    "props":[
      {
        "p":"payload"
      },
      {
        "p":"topic",
        "vt":"str"
      }
    ],
    "repeat":"",
    "crontab":"",
    "once":false,
    "onceDelay":0.1,
    "topic":"",
    "payloadType":"date",
    "x":260,
    "y":220,
    "wires":[
      [
        "f66c534fd0177614"
      ]
    ]
  },
  {
    "id":"f66c534fd0177614",
    "type":"function",
    "z":"619e946ac7946ccf",
    "name":"shift warping",
    "func":"msg.payload = {\n  \"timestamp_ms\": Date.now(),\n  \"timestamp_ms_end\": Date.now()+28800000\n}\nmsg.topic = \"ia/factoryinsight/dccaachen/warping/addShift\"\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":530,
    "y":260,
    "wires":[
      [
        "f86d218bb5a16e14",
        "9334065f93ba5e0f"
      ]
    ]
  },
  {
    "id":"f86d218bb5a16e14",
    "type":"mqtt out",
    "z":"619e946ac7946ccf",
    "name":"",
    "topic":"",
    "qos":"1",
    "retain":"",
    "respTopic":"",
    "contentType":"",
    "userProps":"",
    "correl":"",
    "expiry":"",
    "broker":"5dff9791.d1b278",
    "x":770,
    "y":220,
    "wires":[

    ]
  },
  {
    "id":"9334065f93ba5e0f",
    "type":"debug",
    "z":"619e946ac7946ccf",
    "name":"",
    "active":true,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"false",
    "statusVal":"",
    "statusType":"auto",
    "x":790,
    "y":280,
    "wires":[

    ]
  },
  {
    "id":"67d71e634b555fc5",
    "type":"cronplus",
    "z":"619e946ac7946ccf",
    "name":"",
    "outputField":"payload",
    "timeZone":"",
    "persistDynamic":false,
    "commandResponseMsgOutput":"output1",
    "outputs":1,
    "options":[
      {
        "name":"schedule2",
        "topic":"topic2",
        "payloadType":"default",
        "payload":"",
        "expressionType":"cron",
        "expression":"0 0 7 ? * MON,TUE,WED,THU,FRI *",
        "location":"",
        "offset":"0",
        "solarType":"all",
        "solarEvents":"sunrise,sunset"
      }
    ],
    "x":260,
    "y":280,
    "wires":[
      [
        "f66c534fd0177614"
      ]
    ]
  },
  {
    "id":"3c160ce6e7b568ba",
    "type":"comment",
    "z":"619e946ac7946ccf",
    "name":"warping",
    "info":"",
    "x":250,
    "y":180,
    "wires":[

    ]
  },
  {
    "id":"5dff9791.d1b278",
    "type":"mqtt-broker",
    "name":"",
    "broker":"united-manufacturing-hub-vernemq",
    "port":"1883",
    "clientid":"",
    "usetls":false,
    "compatmode":false,
    "protocolVersion":"4",
    "keepalive":"60",
    "cleansession":true,
    "birthTopic":"",
    "birthQos":"0",
    "birthPayload":"",
    "birthMsg":{

    },
    "closeTopic":"",
    "closeQos":"0",
    "closePayload":"",
    "closeMsg":{

    },
    "willTopic":"",
    "willQos":"0",
    "willPayload":"",
    "willMsg":{

    },
    "sessionExpiry":""
  }
]