Node-RED/flows/custom-processvalues/processValueevenoddTemplate-node-red.json
[
  {
    "id":"15ee1f30a7280f6d",
    "type":"tab",
    "label":"Flow 1",
    "disabled":false,
    "info":""
  },
  {
    "id":"39001098fabf8df3",
    "type":"kafkajs-consumer",
    "z":"15ee1f30a7280f6d",
    "name":"",
    "client":"12d57fe5cace5a38",
    "groupid":"",
    "topic":"ia.raw.development.ioTSensors.Temperature",
    "advancedoptions":false,
    "autocommitinterval":5000,
    "autocommitthreshold":100,
    "sessiontimeout":30000,
    "rebalancetimeout":60000,
    "heartbeatinterval":3000,
    "metadatamaxage":300000,
    "maxbytesperpartition":1048576,
    "minbytes":1,
    "maxbytes":10485760,
    "maxwaittimeinms":5000,
    "frombeginning":false,
    "clearoffsets":false,
    "allowautotopiccreation":false,
    "x":750,
    "y":2100,
    "wires":[
      [

      ]
    ]
  },
  {
    "id":"fa37f46145324db2",
    "type":"kafkajs-producer",
    "z":"15ee1f30a7280f6d",
    "name":"",
    "client":"12d57fe5cace5a38",
    "topic":"ia.test.testLocation.testMachine.count",
    "advancedoptions":false,
    "acknowledge":"all",
    "partition":"",
    "headeritems":{

    },
    "key":"",
    "responsetimeout":30000,
    "transactiontimeout":60000,
    "metadatamaxage":300000,
    "allowautotopiccreation":false,
    "x":670,
    "y":2380,
    "wires":[

    ]
  },
  {
    "id":"fec9e4ab3af1631a",
    "type":"inject",
    "z":"15ee1f30a7280f6d",
    "name":"Inject",
    "props":[
      {
        "p":"timestamp",
        "v":"",
        "vt":"date"
      },
      {
        "p":"payload"
      },
      {
        "p":"topic",
        "vt":"str"
      }
    ],
    "repeat":"",
    "crontab":"",
    "once":false,
    "onceDelay":0.1,
    "topic":"ia.test.testLocation.testMachine.count",
    "payload":"2",
    "payloadType":"str",
    "x":350,
    "y":2380,
    "wires":[
      [
        "fa37f46145324db2"
      ]
    ]
  },
  {
    "id":"61c11b08f30f7c07",
    "type":"debug",
    "z":"15ee1f30a7280f6d",
    "name":"",
    "active":true,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":1110,
    "y":2380,
    "wires":[

    ]
  },
  {
    "id":"5ab0368dfae0d921",
    "type":"kafkajs-consumer",
    "z":"15ee1f30a7280f6d",
    "name":"",
    "client":"12d57fe5cace5a38",
    "groupid":"",
    "topic":"ia.test.testLocation.testMachine.count",
    "advancedoptions":false,
    "autocommitinterval":5000,
    "autocommitthreshold":100,
    "sessiontimeout":30000,
    "rebalancetimeout":60000,
    "heartbeatinterval":3000,
    "metadatamaxage":300000,
    "maxbytesperpartition":1048576,
    "minbytes":1,
    "maxbytes":10485760,
    "maxwaittimeinms":5000,
    "frombeginning":false,
    "clearoffsets":false,
    "allowautotopiccreation":false,
    "x":900,
    "y":2380,
    "wires":[
      [
        "61c11b08f30f7c07"
      ]
    ]
  },
  {
    "id":"cf6a4b4bc9c22cd8",
    "type":"mqtt in",
    "z":"15ee1f30a7280f6d",
    "name":"",
    "topic":"",
    "qos":"2",
    "datatype":"auto",
    "broker":"a09f8b607382b939",
    "nl":false,
    "rap":true,
    "rh":0,
    "x":540,
    "y":420,
    "wires":[
      [
        "e4fb088b5531cc06"
      ]
    ]
  },
  {
    "id":"b4c8d7775d287d0e",
    "type":"mqtt out",
    "z":"15ee1f30a7280f6d",
    "name":"",
    "topic":"",
    "qos":"",
    "retain":"",
    "respTopic":"",
    "contentType":"",
    "userProps":"",
    "correl":"",
    "expiry":"",
    "broker":"a09f8b607382b939",
    "x":1310,
    "y":420,
    "wires":[

    ]
  },
  {
    "id":"e4fb088b5531cc06",
    "type":"json",
    "z":"15ee1f30a7280f6d",
    "name":"",
    "property":"payload",
    "action":"",
    "pretty":false,
    "x":690,
    "y":420,
    "wires":[
      [
        "db959a5a42cf5570"
      ]
    ]
  },
  {
    "id":"db959a5a42cf5570",
    "type":"function",
    "z":"15ee1f30a7280f6d",
    "name":"remainder calc",
    "func":"msg.payload.remainder = msg.payload.value % 2\n\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":920,
    "y":420,
    "wires":[
      [
        "11a822265ae8dc4a"
      ]
    ]
  },
  {
    "id":"11a822265ae8dc4a",
    "type":"function",
    "z":"15ee1f30a7280f6d",
    "name":"to JSON",
    "func":"if (msg.payload.remainder == 1)\n{\n    msg.payload = {\n        \"timestamp\":Date.now(),\n        \"evenodd\":1\n    }\n}\nelse \n    msg.payload = {\n        \"timestamp\":Date.now(),\n        \"evenodd\":0\n    }      \n\nmsg.topic = \"ia/a/b/c/processValue/evenodd\"\n\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":1120,
    "y":420,
    "wires":[
      [
        "b4c8d7775d287d0e"
      ]
    ]
  },
  {
    "id":"12d57fe5cace5a38",
    "type":"kafkajs-client",
    "name":"",
    "brokers":" 10.42.0.108:9092",
    "clientid":" united-manufacturing-hub-kafka-0",
    "connectiontimeout":"3000",
    "requesttimeout":"25000",
    "advancedretry":false,
    "maxretrytime":"30000",
    "initialretrytime":"300",
    "factor":"0.2",
    "multiplier":"2",
    "retries":"5",
    "auth":"none",
    "tlsselfsign":false,
    "tlscacert":"",
    "tlsclientcert":"",
    "tlsprivatekey":"",
    "tlspassphrase":"",
    "saslssl":true,
    "saslmechanism":"plain",
    "loglevel":"error"
  },
  {
    "id":"a09f8b607382b939",
    "type":"mqtt-broker",
    "name":"",
    "broker":"united-manufacturing-hub-hivemqce-local-service",
    "port":"1883",
    "clientid":"",
    "usetls":false,
    "protocolVersion":"4",
    "keepalive":"60",
    "cleansession":true,
    "birthTopic":"",
    "birthQos":"0",
    "birthPayload":"",
    "birthMsg":{

    },
    "closeTopic":"",
    "closeQos":"0",
    "closePayload":"",
    "closeMsg":{

    },
    "willTopic":"",
    "willQos":"0",
    "willPayload":"",
    "willMsg":{

    },
    "sessionExpiry":""
  }
]