Node-RED/flows/optical-distance-sensor-for-conveyor-belt-item-counting/odsTemplate-node-red.json
[
  {
    "id":"fc9d8f9c.14845",
    "type":"subflow",
    "name":"count",
    "info":"",
    "category":"",
    "in":[
      {
        "x":140,
        "y":120,
        "wires":[
          {
            "id":"a85c6ef3.fcf27"
          }
        ]
      }
    ],
    "out":[

    ],
    "env":[
      {
        "name":"customerID",
        "type":"str",
        "value":"samplecustomerID",
        "ui":{
          "type":"input",
          "opts":{
            "types":[
              "str"
            ]
          },
          "label":{

          }
        }
      },
      {
        "name":"location",
        "type":"str",
        "value":"samplelocation",
        "ui":{
          "type":"input",
          "opts":{
            "types":[
              "str"
            ]
          },
          "label":{

          }
        }
      },
      {
        "name":"AssetID",
        "type":"str",
        "value":"sampleAssetID",
        "ui":{
          "type":"input",
          "opts":{
            "types":[
              "str"
            ]
          },
          "label":{

          }
        }
      }
    ],
    "color":"#D5F0FF",
    "icon":"node-red-dashboard/ui_chart.png"
  },
  {
    "id":"a85c6ef3.fcf27",
    "type":"function",
    "z":"fc9d8f9c.14845",
    "name":"Format: count",
    "func":"msg.payload = {\n\"measurement\": env.get(\"customerID\")+\"-\"+env.get(\"location\")+\"-\"+env.get(\"AssetID\") ,\n\"timestamp_ms\": Date.now(),\n\"count\": msg.payload\n}\nmsg.topic = \"ia/\"+env.get(\"customerID\")+\"/\"+env.get(\"location\")+\"/\"+env.get(\"AssetID\")+\"/count\"\nreturn msg;\n\n",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":300,
    "y":120,
    "wires":[
      [
        "767ff1ad.008cd"
      ]
    ]
  },
  {
    "id":"767ff1ad.008cd",
    "type":"mqtt out",
    "z":"fc9d8f9c.14845",
    "name":"MQTT-OUT: Processed Data",
    "topic":"",
    "qos":"2",
    "retain":"",
    "broker":"",
    "x":550,
    "y":120,
    "wires":[

    ]
  },
  {
    "id":"e634fdb88851b585",
    "type":"tab",
    "label":"Flow 1",
    "disabled":false,
    "info":""
  },
  {
    "id":"0b53cb5c10a83f7e",
    "type":"json",
    "z":"e634fdb88851b585",
    "name":"",
    "property":"payload",
    "action":"",
    "pretty":false,
    "x":590,
    "y":460,
    "wires":[
      [
        "cb2999d50abc6001"
      ]
    ]
  },
  {
    "id":"cb2999d50abc6001",
    "type":"function",
    "z":"e634fdb88851b585",
    "name":"Distance",
    "func":"msg.payload = msg.payload.Distance\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":765,
    "y":460,
    "wires":[
      [
        "7c0944a6c6efc83a"
      ]
    ]
  },
  {
    "id":"b2d82d155f95f154",
    "type":"subflow:fc9d8f9c.14845",
    "z":"e634fdb88851b585",
    "name":"",
    "env":[
      {
        "name":"customerID",
        "value":"dccvenice",
        "type":"str"
      },
      {
        "name":"location",
        "value":"venice",
        "type":"str"
      },
      {
        "name":"AssetID",
        "value":"metalstamping",
        "type":"str"
      }
    ],
    "x":1370,
    "y":460,
    "wires":[

    ]
  },
  {
    "id":"806cadf6234d94b4",
    "type":"function",
    "z":"e634fdb88851b585",
    "name":"Piece count",
    "func":"msg.payload = 1;\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":1130,
    "y":460,
    "wires":[
      [
        "b2d82d155f95f154"
      ]
    ]
  },
  {
    "id":"b9eb0e644bd76ac2",
    "type":"mqtt in",
    "z":"e634fdb88851b585",
    "name":"Photoelectric distance sensor",
    "topic":"",
    "qos":"2",
    "datatype":"auto",
    "broker":"a09f8b607382b939",
    "nl":false,
    "rap":true,
    "rh":0,
    "x":371,
    "y":460,
    "wires":[
      [
        "0b53cb5c10a83f7e"
      ]
    ]
  },
  {
    "id":"7c0944a6c6efc83a",
    "type":"rising-edge",
    "z":"e634fdb88851b585",
    "name":"",
    "threshold":"30",
    "x":950,
    "y":460,
    "wires":[
      [
        "806cadf6234d94b4"
      ]
    ]
  },
  {
    "id":"a09f8b607382b939",
    "type":"mqtt-broker",
    "name":"",
    "broker":"united-manufacturing-hub-hivemqce-local-service",
    "port":"1883",
    "clientid":"",
    "usetls":false,
    "protocolVersion":"4",
    "keepalive":"60",
    "cleansession":true,
    "birthTopic":"",
    "birthQos":"0",
    "birthPayload":"",
    "birthMsg":{

    },
    "closeTopic":"",
    "closeQos":"0",
    "closePayload":"",
    "closeMsg":{

    },
    "willTopic":"",
    "willQos":"0",
    "willPayload":"",
    "willMsg":{

    },
    "sessionExpiry":""
  }
]