Node-RED/flows/detectAnomaly/detectedanomalyTemplate-node-red.json
[
  {
    "id":"83cd898a67068eac",
    "type":"tab",
    "label":"Flow 4",
    "disabled":false,
    "info":""
  },
  {
    "id":"e5045383432faa38",
    "type":"function",
    "z":"83cd898a67068eac",
    "name":"TO JSON",
    "func":"msg.payload = {\n\"timestamp_ms\": Date.now(),\n\"detectedAnomaly\": \"ERR_TEMP_FÜHLER\"\n}\n\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":1000,
    "y":240,
    "wires":[
      [
        "d140e64493cc3deb"
      ]
    ]
  },
  {
    "id":"db0ed8bbbce2b376",
    "type":"rising-edge",
    "z":"83cd898a67068eac",
    "name":"",
    "threshold":"0.999",
    "x":830,
    "y":240,
    "wires":[
      [
        "e5045383432faa38"
      ]
    ]
  },
  {
    "id":"4764a857a22fcd7e",
    "type":"function",
    "z":"83cd898a67068eac",
    "name":"convert to number",
    "func":"msg.payload.ERR_TEMP_FÜHLER = msg.payload.ERR_TEMP_FÜHLER ? 1 : 0;\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":630,
    "y":240,
    "wires":[
      [
        "db0ed8bbbce2b376"
      ]
    ]
  },
  {
    "id":"0d3dee4da96b1ed7",
    "type":"json",
    "z":"83cd898a67068eac",
    "name":"",
    "property":"payload",
    "action":"",
    "pretty":false,
    "x":450,
    "y":240,
    "wires":[
      [
        "4764a857a22fcd7e"
      ]
    ]
  },
  {
    "id":"d140e64493cc3deb",
    "type":"json",
    "z":"83cd898a67068eac",
    "name":"",
    "property":"payload",
    "action":"obj",
    "pretty":false,
    "x":1170,
    "y":240,
    "wires":[
      [
        "a0e5555391b58f30"
      ]
    ]
  },
  {
    "id":"a0e5555391b58f30",
    "type":"delay",
    "z":"83cd898a67068eac",
    "name":"",
    "pauseType":"delay",
    "timeout":"2",
    "timeoutUnits":"seconds",
    "rate":"1",
    "nbRateUnits":"1",
    "rateUnits":"second",
    "randomFirst":"1",
    "randomLast":"5",
    "randomUnits":"seconds",
    "drop":false,
    "x":1340,
    "y":240,
    "wires":[
      [
        "b22959f781f1bf46"
      ]
    ]
  },
  {
    "id":"37468522f510ffe1",
    "type":"mqtt in",
    "z":"83cd898a67068eac",
    "name":"",
    "topic":"",
    "qos":"2",
    "datatype":"auto",
    "broker":"a09f8b607382b939",
    "nl":false,
    "rap":true,
    "rh":0,
    "x":230,
    "y":240,
    "wires":[
      [
        "0d3dee4da96b1ed7"
      ]
    ]
  },
  {
    "id":"b22959f781f1bf46",
    "type":"mqtt out",
    "z":"83cd898a67068eac",
    "name":"",
    "topic":"",
    "qos":"",
    "retain":"",
    "respTopic":"",
    "contentType":"",
    "userProps":"",
    "correl":"",
    "expiry":"",
    "broker":"a09f8b607382b939",
    "x":1580,
    "y":240,
    "wires":[

    ]
  },
  {
    "id":"a09f8b607382b939",
    "type":"mqtt-broker",
    "name":"",
    "broker":"united-manufacturing-hub-hivemqce-local-service",
    "port":"1883",
    "clientid":"",
    "usetls":false,
    "protocolVersion":"4",
    "keepalive":"60",
    "cleansession":true,
    "birthTopic":"",
    "birthQos":"0",
    "birthPayload":"",
    "birthMsg":{

    },
    "closeTopic":"",
    "closeQos":"0",
    "closePayload":"",
    "closeMsg":{

    },
    "willTopic":"",
    "willQos":"0",
    "willPayload":"",
    "willMsg":{

    },
    "sessionExpiry":""
  }
]