Node-RED/flows/activity-processing/activity2Template-node-red.json
[
  {
    "id":"fce34c9ed7fab0ed",
    "type":"tab",
    "label":"Flow 2",
    "disabled":false,
    "info":""
  },
  {
    "id":"ee710d06d53348a3",
    "type":"json",
    "z":"fce34c9ed7fab0ed",
    "name":"",
    "property":"payload",
    "action":"",
    "pretty":false,
    "x":590,
    "y":260,
    "wires":[
      [
        "9039da24d09c3c0a"
      ]
    ]
  },
  {
    "id":"db450a985f6f045f",
    "type":"json",
    "z":"fce34c9ed7fab0ed",
    "name":"",
    "property":"payload",
    "action":"",
    "pretty":false,
    "x":590,
    "y":180,
    "wires":[
      [
        "0b911a7613ca5680"
      ]
    ]
  },
  {
    "id":"9039da24d09c3c0a",
    "type":"function",
    "z":"fce34c9ed7fab0ed",
    "name":"",
    "func":"msg.payload.Cylinder_2_Running = msg.payload.Cylinder_2_Running ? 1 : 0;\n\n\nreturn msg",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":800,
    "y":260,
    "wires":[
      [
        "ed080cac04ee5d41"
      ]
    ]
  },
  {
    "id":"0b911a7613ca5680",
    "type":"function",
    "z":"fce34c9ed7fab0ed",
    "name":"",
    "func":"msg.payload.Cylinder_1_Running = msg.payload.Cylinder_1_Running ? 1 : 0;\n\n\nreturn msg",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":800,
    "y":180,
    "wires":[
      [
        "e8f21dd1afd53678"
      ]
    ]
  },
  {
    "id":"ed080cac04ee5d41",
    "type":"change",
    "z":"fce34c9ed7fab0ed",
    "name":"",
    "rules":[
      {
        "t":"set",
        "p":"Cyl2_running",
        "pt":"flow",
        "to":"payload.Cylinder_2_Running",
        "tot":"msg"
      }
    ],
    "action":"",
    "property":"",
    "from":"",
    "to":"",
    "reg":false,
    "x":1010,
    "y":260,
    "wires":[
      [
        "5cb7f7616953864a"
      ]
    ]
  },
  {
    "id":"458d9fbae2717e25",
    "type":"function",
    "z":"fce34c9ed7fab0ed",
    "name":"TO JSON",
    "func":"msg.payload = {\n\"timestamp_ms\": Date.now(),\n\"activity\": msg.payload.activity\n}\n\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":1580,
    "y":220,
    "wires":[
      [
        "2e805993a62177c6"
      ]
    ]
  },
  {
    "id":"5cb7f7616953864a",
    "type":"function",
    "z":"fce34c9ed7fab0ed",
    "name":"compare",
    "func":"/*if(msg.payload.hasOwnProperty('Cylinder_2_Running')){\ncyl1=context.get(\"cyl1Running\")||false;\ncyl2=msg.payload.cylinder2Running;\ncontext.set(\"cyl2Running\",msg.payload.cylinder2Running)\n}\n\nelse{\ncyl1=msg.payload.cylinder1Running;\ncyl2=context.get(\"cyl2Running\")||false; \ncontext.set(\"cyl1Running\",msg.payload.cylinder1Running)\n}\n\nmsg={payload:(cyl1||cyl2)? 1 : 0};\nreturn msg; */\n\n\n\nif(msg.payload.hasOwnProperty('Cylinder_2_Running')){\ncyl1=flow.get(\"Cyl1_running\")||0;\ncyl2=msg.payload.Cylinder_2_Running;\nflow.set(\"Cyl2_running\",msg.payload.Cylinder_2_Running)\n}\n\nelse{\ncyl1=msg.payload.Cylinder_1_Running;\ncyl2=flow.get(\"Cyl2_running\")||0; \nflow.set(\"Cyl1_running\",msg.payload.Cylinder_1_Running)\n}\n\nif (cyl1 + cyl2 == 2){\n    msg.payload.activity = 1 \n}\nelse {\n    msg.payload.activity = 0;\n}\n\nmsg.topic='ia/raw/dccaachen/thermosetting/activity'\n\nreturn msg;\n\n\n",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":1240,
    "y":220,
    "wires":[
      [
        "2168e98578cf6568"
      ]
    ]
  },
  {
    "id":"2168e98578cf6568",
    "type":"delay",
    "z":"fce34c9ed7fab0ed",
    "name":"5 sec. delay",
    "pauseType":"rate",
    "timeout":"10",
    "timeoutUnits":"seconds",
    "rate":"1",
    "nbRateUnits":"5",
    "rateUnits":"second",
    "randomFirst":"1",
    "randomLast":"5",
    "randomUnits":"seconds",
    "drop":true,
    "allowrate":false,
    "x":1410,
    "y":220,
    "wires":[
      [
        "458d9fbae2717e25"
      ]
    ]
  },
  {
    "id":"e8f21dd1afd53678",
    "type":"change",
    "z":"fce34c9ed7fab0ed",
    "name":"",
    "rules":[
      {
        "t":"set",
        "p":"Cyl1_running",
        "pt":"flow",
        "to":"payload.Cylinder_1_Running",
        "tot":"msg"
      }
    ],
    "action":"",
    "property":"",
    "from":"",
    "to":"",
    "reg":false,
    "x":1010,
    "y":180,
    "wires":[
      [
        "5cb7f7616953864a"
      ]
    ]
  },
  {
    "id":"ee56af762dc0edfb",
    "type":"mqtt in",
    "z":"fce34c9ed7fab0ed",
    "name":"",
    "topic":"",
    "qos":"2",
    "datatype":"auto",
    "nl":false,
    "rap":true,
    "rh":0,
    "x":430,
    "y":180,
    "wires":[
      [
        "db450a985f6f045f"
      ]
    ]
  },
  {
    "id":"5f24670dca11e296",
    "type":"mqtt in",
    "z":"fce34c9ed7fab0ed",
    "name":"",
    "topic":"",
    "qos":"2",
    "datatype":"auto",
    "nl":false,
    "rap":true,
    "rh":0,
    "x":430,
    "y":260,
    "wires":[
      [
        "ee710d06d53348a3"
      ]
    ]
  },
  {
    "id":"2e805993a62177c6",
    "type":"mqtt out",
    "z":"fce34c9ed7fab0ed",
    "name":"",
    "topic":"",
    "qos":"",
    "retain":"",
    "respTopic":"",
    "contentType":"",
    "userProps":"",
    "correl":"",
    "expiry":"",
    "x":1740,
    "y":220,
    "wires":[

    ]
  }
]