Node-RED/flows/activity-processing/activity1Template-node-red.json
[
  {
    "id":"690b545a219a2c81",
    "type":"tab",
    "label":"Flow 3",
    "disabled":false,
    "info":""
  },
  {
    "id":"5955d4b770b684b1",
    "type":"function",
    "z":"690b545a219a2c81",
    "name":"TO JSON",
    "func":"msg.payload = {\n\"timestamp_ms\": Date.now(),\n\"activity\": msg.payload\n}\n\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":1400,
    "y":220,
    "wires":[
      [
        "99c6657e01e78f69"
      ]
    ]
  },
  {
    "id":"775a1e46aecb48d1",
    "type":"json",
    "z":"690b545a219a2c81",
    "name":"",
    "property":"payload",
    "action":"",
    "pretty":false,
    "x":630,
    "y":220,
    "wires":[
      [
        "2c63fe291d824c7f"
      ]
    ]
  },
  {
    "id":"2c63fe291d824c7f",
    "type":"function",
    "z":"690b545a219a2c81",
    "name":"",
    "func":"msg.payload = msg.payload.LA_T_START ? 1 : 0;\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":860,
    "y":220,
    "wires":[
      [
        "e5a295babdc9c116"
      ]
    ]
  },
  {
    "id":"e5a295babdc9c116",
    "type":"delay",
    "z":"690b545a219a2c81",
    "name":"",
    "pauseType":"rate",
    "timeout":"5",
    "timeoutUnits":"seconds",
    "rate":"1",
    "nbRateUnits":"5",
    "rateUnits":"second",
    "randomFirst":"1",
    "randomLast":"5",
    "randomUnits":"seconds",
    "drop":true,
    "allowrate":false,
    "x":1150,
    "y":220,
    "wires":[
      [
        "5955d4b770b684b1"
      ]
    ]
  },
  {
    "id":"9081c13458893969",
    "type":"mqtt in",
    "z":"690b545a219a2c81",
    "name":"",
    "topic":"",
    "qos":"2",
    "datatype":"auto",
    "nl":false,
    "rap":true,
    "rh":0,
    "x":430,
    "y":220,
    "wires":[
      [
        "775a1e46aecb48d1"
      ]
    ]
  },
  {
    "id":"99c6657e01e78f69",
    "type":"mqtt out",
    "z":"690b545a219a2c81",
    "name":"",
    "topic":"",
    "qos":"",
    "retain":"",
    "respTopic":"",
    "contentType":"",
    "userProps":"",
    "correl":"",
    "expiry":"",
    "x":1580,
    "y":220,
    "wires":[

    ]
  }
]