Node-RED/flows/kafka/kafkaexportTemplate-node-red.json
[
  {
    "id":"3c68db55b1f2c051",
    "type":"tab",
    "label":"Kafka-exporter",
    "disabled":false,
    "info":""
  },
  {
    "id":"dc24c4ed0a65506e",
    "type":"kafkajs-consumer",
    "z":"3c68db55b1f2c051",
    "name":"",
    "client":"456839b9bbac791b",
    "groupid":"nodered",
    "topic":"ia.factoryinsight.local.local.processValue.temperature",
    "advancedoptions":false,
    "autocommitinterval":5000,
    "autocommitthreshold":100,
    "sessiontimeout":30000,
    "rebalancetimeout":60000,
    "heartbeatinterval":3000,
    "metadatamaxage":300000,
    "maxbytesperpartition":1048576,
    "minbytes":1,
    "maxbytes":10485760,
    "maxwaittimeinms":5000,
    "frombeginning":false,
    "clearoffsets":false,
    "allowautotopiccreation":false,
    "x":300,
    "y":240,
    "wires":[
      [
        "759b6933a11a42a1"
      ]
    ]
  },
  {
    "id":"fa08f5302fb5fe57",
    "type":"mqtt in",
    "z":"3c68db55b1f2c051",
    "name":"",
    "topic":"ia/raw/development/ioTSensors/Temperature",
    "qos":"2",
    "datatype":"auto",
    "broker":"a09f8b607382b939",
    "nl":false,
    "rap":true,
    "rh":0,
    "x":400,
    "y":160,
    "wires":[
      [
        "532a76b5c7fd1921"
      ]
    ]
  },
  {
    "id":"532a76b5c7fd1921",
    "type":"function",
    "z":"3c68db55b1f2c051",
    "name":"",
    "func":"msg.payload = {\n    \"timestamp_ms\": Date.now(),\n    \"temperature\": +(msg.payload)\n}\nmsg.topic = \"ia/factoryinsight/local/local/processValue/temperature\"\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":700,
    "y":160,
    "wires":[
      [
        "1bfb4a720bf3bece"
      ]
    ]
  },
  {
    "id":"1bfb4a720bf3bece",
    "type":"mqtt out",
    "z":"3c68db55b1f2c051",
    "name":"",
    "topic":"",
    "qos":"",
    "retain":"",
    "respTopic":"",
    "contentType":"",
    "userProps":"",
    "correl":"",
    "expiry":"",
    "broker":"a09f8b607382b939",
    "x":910,
    "y":160,
    "wires":[

    ]
  },
  {
    "id":"203ca912f7e14b07",
    "type":"file",
    "z":"3c68db55b1f2c051",
    "name":"",
    "filename":"/data/temperature-export",
    "appendNewline":true,
    "createDir":false,
    "overwriteFile":"false",
    "encoding":"none",
    "x":870,
    "y":240,
    "wires":[
      [
        "069d56ee070f2c18"
      ]
    ]
  },
  {
    "id":"069d56ee070f2c18",
    "type":"debug",
    "z":"3c68db55b1f2c051",
    "name":"",
    "active":false,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"false",
    "statusVal":"",
    "statusType":"auto",
    "x":1110,
    "y":240,
    "wires":[

    ]
  },
  {
    "id":"3e41d3c7d46e3602",
    "type":"comment",
    "z":"3c68db55b1f2c051",
    "name":"Tutorial",
    "info":"This flow requires the kafkajs node.\n\nThis flow will take data from the MQTT simulator and convert it to the UMH datamodel. \n\nFrom there on, all datapoints will be converted to base64 (to prevent any problems with binary data like images), tagged with the timestamp, and stored in the file \"/data/temperature-export\" inside the container.\n\nThis file can be read using Lens and this command executed on your PC in the lens terminal:\n\n`kubectl cp united-manufacturing-hub-nodered-0:/data/temperature-export ./temperature-export --namespace united-manufacturing-hub`",
    "x":270,
    "y":80,
    "wires":[

    ]
  },
  {
    "id":"8c17809e33338157",
    "type":"function",
    "z":"3c68db55b1f2c051",
    "name":"",
    "func":"msg.payload = msg.payload.timestamp + \",\" + msg.payload.value\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":640,
    "y":240,
    "wires":[
      [
        "203ca912f7e14b07"
      ]
    ]
  },
  {
    "id":"a1a5160cfeab8106",
    "type":"kafkajs-producer",
    "z":"3c68db55b1f2c051",
    "d":true,
    "name":"",
    "client":"456839b9bbac791b",
    "topic":"ia.factoryinsight.local.local.processValue.binary",
    "advancedoptions":false,
    "acknowledge":"all",
    "partition":"",
    "headeritems":{

    },
    "key":"",
    "responsetimeout":30000,
    "transactiontimeout":60000,
    "metadatamaxage":300000,
    "allowautotopiccreation":false,
    "x":710,
    "y":460,
    "wires":[

    ]
  },
  {
    "id":"d9d71f90256d9a45",
    "type":"inject",
    "z":"3c68db55b1f2c051",
    "d":true,
    "name":"",
    "props":[
      {
        "p":"payload"
      }
    ],
    "repeat":"1",
    "crontab":"",
    "once":false,
    "onceDelay":0.1,
    "topic":"",
    "payloadType":"date",
    "x":310,
    "y":460,
    "wires":[
      [
        "1bdbd646fc741d6d"
      ]
    ]
  },
  {
    "id":"1bdbd646fc741d6d",
    "type":"function",
    "z":"3c68db55b1f2c051",
    "d":true,
    "name":"",
    "func":"msg.payload = Buffer.from(\"\\x00\\x01\\x02\\x03\\x04\\x05\\x0A\")\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":500,
    "y":460,
    "wires":[
      [
        "a1a5160cfeab8106"
      ]
    ]
  },
  {
    "id":"f2f072033880459c",
    "type":"comment",
    "z":"3c68db55b1f2c051",
    "name":"Binary test",
    "info":"This tests whether it also works with binary data",
    "x":280,
    "y":420,
    "wires":[

    ]
  },
  {
    "id":"965e07156791bb9e",
    "type":"kafkajs-consumer",
    "z":"3c68db55b1f2c051",
    "d":true,
    "name":"",
    "client":"456839b9bbac791b",
    "groupid":"nodered-2",
    "topic":"ia.factoryinsight.local.local.processValue.binary",
    "advancedoptions":false,
    "autocommitinterval":5000,
    "autocommitthreshold":100,
    "sessiontimeout":30000,
    "rebalancetimeout":60000,
    "heartbeatinterval":3000,
    "metadatamaxage":300000,
    "maxbytesperpartition":1048576,
    "minbytes":1,
    "maxbytes":10485760,
    "maxwaittimeinms":5000,
    "frombeginning":false,
    "clearoffsets":false,
    "allowautotopiccreation":false,
    "x":280,
    "y":540,
    "wires":[
      [
        "493252b1a8487bb4"
      ]
    ]
  },
  {
    "id":"08e60663fd2f04ef",
    "type":"file",
    "z":"3c68db55b1f2c051",
    "d":true,
    "name":"",
    "filename":"/data/binary-export",
    "appendNewline":true,
    "createDir":false,
    "overwriteFile":"false",
    "encoding":"none",
    "x":830,
    "y":540,
    "wires":[
      [
        "f62eb58cfcc107e1"
      ]
    ]
  },
  {
    "id":"f62eb58cfcc107e1",
    "type":"debug",
    "z":"3c68db55b1f2c051",
    "d":true,
    "name":"",
    "active":true,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":1090,
    "y":540,
    "wires":[

    ]
  },
  {
    "id":"7d411f59d988c009",
    "type":"function",
    "z":"3c68db55b1f2c051",
    "d":true,
    "name":"",
    "func":"msg.payload = msg.payload.timestamp + \",\" + msg.payload.value\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[

    ],
    "x":620,
    "y":540,
    "wires":[
      [
        "08e60663fd2f04ef"
      ]
    ]
  },
  {
    "id":"759b6933a11a42a1",
    "type":"base64",
    "z":"3c68db55b1f2c051",
    "name":"",
    "action":"str",
    "property":"payload.value",
    "x":460,
    "y":240,
    "wires":[
      [
        "8c17809e33338157"
      ]
    ]
  },
  {
    "id":"493252b1a8487bb4",
    "type":"base64",
    "z":"3c68db55b1f2c051",
    "d":true,
    "name":"",
    "action":"str",
    "property":"payload.value",
    "x":440,
    "y":540,
    "wires":[
      [
        "7d411f59d988c009"
      ]
    ]
  },
  {
    "id":"456839b9bbac791b",
    "type":"kafkajs-client",
    "name":"",
    "brokers":"united-manufacturing-hub-kafka:9092",
    "clientid":"nodered",
    "connectiontimeout":"3000",
    "requesttimeout":"25000",
    "advancedretry":false,
    "maxretrytime":"30000",
    "initialretrytime":"300",
    "factor":"0.2",
    "multiplier":"2",
    "retries":"5",
    "auth":"none",
    "tlsselfsign":false,
    "tlscacert":"",
    "tlsclientcert":"",
    "tlsprivatekey":"",
    "tlspassphrase":"",
    "saslssl":true,
    "saslmechanism":"plain",
    "loglevel":"error"
  },
  {
    "id":"a09f8b607382b939",
    "type":"mqtt-broker",
    "name":"",
    "broker":"united-manufacturing-hub-hivemqce-local-service",
    "port":"1883",
    "clientid":"",
    "usetls":false,
    "protocolVersion":"4",
    "keepalive":"60",
    "cleansession":true,
    "birthTopic":"",
    "birthQos":"0",
    "birthPayload":"",
    "birthMsg":{

    },
    "closeTopic":"",
    "closeQos":"0",
    "closePayload":"",
    "closeMsg":{

    },
    "willTopic":"",
    "willQos":"0",
    "willPayload":"",
    "willMsg":{

    },
    "sessionExpiry":""
  }
]